﻿@model waAssembly.Models.DictionaryEntryModel

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-12">
        <h2>Create</h2>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="pnl">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    @Html.HiddenFor(m => m.Entry.IsRichText)

                    <div class="form-group focus">
                        @Html.LabelFor(model => model.Entry.Key)

                        @Html.TextBoxFor(model => model.Entry.Key, new { @class = "form-control", tabindex = 0 })
                        @Html.ValidationMessageFor(model => model.Entry.Key)
                    </div>

                    <div class="form-group focus">
                        @Html.LabelFor(model => model.Entry.Notes)

                        @Html.TextBoxFor(model => model.Entry.Notes, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Entry.Notes)
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="@Html.IdFor(m => m.Entry.DictionarySectionID)">Section</label>
                        <select tabindex="-1" name="@Html.NameFor(m => m.Entry.DictionarySectionID)" id="@Html.IdFor(m => m.Entry.DictionarySectionID)" class="form-control">
                            @foreach (var sectionid in @Model.Sections)
                            {
                                <option value="@sectionid.ID" @(sectionid.ID == @Model.Entry.DictionarySectionID ? "selected=selected" : "")>@sectionid.Name</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Entry.RequiredMergeFields)
                            @Html.TextBoxFor(m => m.Entry.RequiredMergeFields, new { @class = "form-control", tabindex = "-1" })
                            @Html.ValidationMessageFor(m => m.Entry.RequiredMergeFields)
                            <span class="help-block">comma separated list if field that must be present in text before saving</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    @*@if(CurrentUser.UserType == API.Data.enums.UserType.SBA) {
                    *@
                    @*} else {
                    @Html.HiddenFor(m => m.Entry.RequiredMergeFields)
                }*@
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="help-block">Use @Html.Raw("{@dictionaryKey}") to reference other dictionary keys (replace "dictionaryKey" with a valid key)</div>

                    @foreach (var lang in Model.AvailableLanguages)
                    {

                        var strName = "language" + @lang.ID.ToString();
                        <div class="form-group">
                            <label>@lang.Name (@lang.Locale)</label>
                            <textarea tabindex="0" rows="6" name="@strName" class="form-control dictionary-editor">@Model.Entry.GetValue(lang.Locale)</textarea>
                        </div>
                    }

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <input type="submit" name="SaveAndClose" class="btn btn-success" tabindex="0" value="@Html.T("save")" />
                    <a class="btn btn-default" href="@(Url.Action("Index") + "?SectionID=" + @Request.QueryString["SectionID"] ?? "")">@Html.T("cancel")</a>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @if (Model.Entry.IsRichText)
    {
        <script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
        <script type="text/javascript">
            $(window).ready(function () {
                CKEDITOR.replaceAll('dictionary-editor');
            });
        </script>
    }
}
