﻿@model waAssembly.Models.DictionaryEntryModel

@{
	ViewBag.Title = "Edit";
}

<div class="row">
	<div class="col-md-12">
		<h2>Edit

			<a class="inline-confirm btn btn-warning">Delete</a>
			<a class="btn btn-danger hidden" href="@Url.Action("DeleteConfirmed", new { id = @Model.Entry.ID })">Confirm delete</a>
			<a class="btn btn-success" href="@Url.Action("CopyToNew", "Dictionary", new { id = @Model.Entry.ID })">Copy to new</a>

		</h2>
	</div>
</div>


@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.Entry.ID)
	
	<div class="row">
		<div class="col-md-6">
			<div class="form-group focus">
				@Html.LabelFor(model => model.Entry.Key)
				@Html.TextBoxFor(model => model.Entry.Key, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Entry.Key)
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label for="ActiveSection">Section</label>
				<select name="@Html.NameFor(m => m.Entry.DictionarySectionID)" id="@Html.IdFor(m => m.Entry.DictionarySectionID)" class="form-control">
					@foreach (var sectionid in @Model.Sections) { 
						<option value="@sectionid.ID" @(sectionid.ID == @Model.Entry.DictionarySectionID ? "selected=selected" : "")>@sectionid.Name</option>
					}
				</select>
			</div>
		</div>
		<div class="col-md-3">
			@Html.CheckBoxFor(m => m.Entry.IsRichText)
            <label class="control-label-graphic" for="@Html.IdFor(m => m.Entry.IsRichText)">Richtext</label>

            <br />

            @Html.CheckBoxFor(m => m.Entry.Clientside)
            <label class="control-label-graphic" for="@Html.IdFor(m => m.Entry.Clientside)">Clientside</label>


		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		<div class="form-group focus">
				@Html.LabelFor(model => model.Entry.Notes)

				@Html.TextBoxFor(model => model.Entry.Notes, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Entry.Notes)
			</div>
			</div>
			<div class="col-md-6">
			@*@if(CurrentUser.UserType == API.Data.enums.UserType.SBA) {
				*@<div class="form-group">
					@Html.LabelFor(m => m.Entry.RequiredMergeFields)
					@Html.TextBoxFor(m => m.Entry.RequiredMergeFields, new { @class = "form-control" })
					@Html.ValidationMessageFor(m => m.Entry.RequiredMergeFields)
					<span class="help-block">comma separated list if field that must be present in text before saving</span>
				</div>
			@*} else {
				@Html.HiddenFor(m => m.Entry.RequiredMergeFields)
			}*@
				</div>
		
	</div>
	<div class="row">
		<div class="col-md-12">
	<div class="help-block">Use @Html.Raw("{@dictionaryKey}") to reference other dictionary keys (replace "dictionaryKey" with a valid key)</div>

			@foreach (var lang in Model.AvailableLanguages) {
		var strName = "language" + @lang.ID.ToString();
				<div class="form-group">
					<label>@lang.Name (@lang.Locale)</label>
					<textarea rows="6" name="@strName" class="form-control dictionary-editor">@Model.Entry.GetValue(lang.Locale)</textarea>
				</div>
	}
	</div>
		</div>
	
	
	<div class="row">
		<div class="col-md-12">
			<input type="submit" name="SaveAndClose" class="btn btn-success" value="@Html.T("save")" />
			<a class="btn btn-default" href="@(Url.Action("Index") + "?SectionID=" + @Request.QueryString["SectionID"] ?? "")">@Html.T("cancel")</a>
		</div>
	</div>
    
}


@section Scripts {
	@*Scripts.Render("~/bundles/jqueryval")*@
	@if (Model.Entry.IsRichText) {
		<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
		<script type="text/javascript">
			$(window).ready(function () {
				CKEDITOR.replaceAll('dictionary-editor');
			});
		</script>
 }
}
