﻿@model waAssembly.Models.DictionaryModel

@{
    ViewBag.Title = "Dictionary";
}
@section head {
    <link rel="stylesheet" href="~/assets/css/dictionary.css" />
}

<div class="pnl">
    <div class="panel-body">
        <h2>
            Dictionary
            <div class="dropdown" style="display:inline-block;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Create new <span class="caret"></span>
                </button>
                <div class="dropdown-menu" role="menu">
                    <a href="#" data-defaulturl="@Url.Action("Create")?Type=Plain" class="dropdown-item create-new">Plain</a>
                    <a href="#" data-defaulturl="@Url.Action("Create")?Type=Richtext" class="dropdown-item create-new">Richtext</a>
                </div>
            </div>

            <div class="dropdown" style="display:inline-block;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Languages <span class="caret"></span>
                </button>
                <div class="dropdown-menu" role="menu" id="LocaleSelection">
                    @foreach (var lang in Model.AvailableLanguages)
                    {
                        <a href="#" class="dropdown-item" data-locale="@lang.Locale">@lang.Name (@lang.Locale)</a>
                    }
                </div>
            </div>

            <div class="dropdown" style="display:inline-block">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Report missing values <span class="caret"></span>
                </button>
                <div class="dropdown-menu" role="menu">
                    @foreach (var lang in Model.AvailableLanguages)
                    {
                        <a class="dropdown-item" href="@Url.Action("ReportMissingLocaleValues", new { Locale = @lang.Locale })" data-locale="@lang.Locale">@lang.Name (@lang.Locale)</a>
                    }
                </div>
            </div>
        </h2>

        <div class="form-group quick-find focus">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>

                <input type="text" class="form-control" id="dictionarySearch" />
                <div class="input-group-append">
                    <span class="input-group-text link" id="dictionarySearchClear"><i class="fa fa-times"></i></span>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <input type="checkbox" class="fa-space" name="SearchAllSections" id="SearchAllSections" />
                        <label for="SearchAllSections" style="margin: 0;">Search all sections</label>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <a class="btn btn-sm btn-default" href="@Url.Action("Create", "DictionarySection")"><i class="fa fa-plus-o"></i> Add section</a>
                <ul id="dictionarySections">
                    @foreach (var dicSection in @Model.Sections)
                    {
                        <li>
                            @if (dicSection.ID == 0)
                            {
                                <a class="link link-u"><i class="fa fa-pencil fa-space" style="visibility:hidden"></i></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Edit", "DictionarySection", new { id = @dicSection.ID })"><i class="fa fa-pencil fa-space"></i></a>
                            }
                            <a class="link link-u" data-sectionid="@dicSection.ID">@dicSection.Name</a> <span class="section-key-count"></span>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-10">
                <table class="table quick-find stripe">
                    <thead>
                        <tr>
                            <th>
                                Key
                            </th>
                            @foreach (var lang in Model.AvailableLanguages)
                            {
                                <th data-locale="@lang.Locale">
                                    @lang.Name
                                </th>
                            }
                            <th>
                                Att.
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Records">
                        <tr class="link" data-bind="attr: { 'data-clickurl': '@Url.Action("Edit")?ID=' + ID }">
                            <td class="noclickurl">
                                <span data-bind="html: Key"></span>
                                <div class="help-block key-section" data-bind="html: DictionarySectionName"></div>
                                <div class="help-block" data-bind="	html: Notes"></div>
                            </td>
                            @foreach (var lang in Model.AvailableLanguages)
                            {
                                <td data-locale="@lang.Locale" data-bind="html: $root.ValueDisplay($data, '@lang.Locale'), visible: $root.LocaleVisible($data, '@lang.Locale')"></td>
                            }
                            <td>
                                <span data-bind="if: IsRichText">R</span>
                                <span data-bind="if: Clientside">C</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Url.RenderBundle("dictionary.js")
    <script type="text/javascript">
		
		onload_methods.push(function () {
			dictionary.settings.locales = [@languagesToArray()];
			dictionary.settings.sectionID = @(Request.QueryString["SectionID"].IfEmpty("0"));
			dictionary.init();
		});
    </script>
}
@helper languagesToArray()
{
    <text>@Html.Raw(@Model.AvailableLanguages.Select(n => "'" + n.Locale + "',").Aggregate((a, b) => a + b))</text>
}

