﻿@model IEnumerable<API.Data.DictionaryEntry>
@{
	ViewBag.Title = "Dictionary";
}

<h2>
	Dictionary, 
	@Request.QueryString["Locale"]
</h2>

<a href="@Url.Action("Index", "Dictionary")">Go back</a>

<div class="row">
	<div class="col-xs-12">
		<table class="table quick-find stripe">
			<thead>
				<tr>
					<th>
						Key
					</th>
					<th>
						Richtext
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var item in Model) {
				string url = Url.Action("Edit") + "?ID=" + item.ID + "&ru=" + Url.MakeReturnUrl();
				<tr class="link" data-clickurl="@url">
					<td>
						<span>@item.Key</span>
						<div class="help-block key-section">@item.DictionarySectionName</div>
						<div class="help-block">@item.Notes</div>
					</td>
					<td>@item.IsRichText</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		include('/js/base/knockout-3.0.0.js');
		include('/js/base/knockout-mapping-2.4.1.js');
		include('/js/jquery.doTimeout.js');
		include('/js/jquery.deparam.js');
		include('/js/jquery.cookie.js');
	</script>
}