﻿@model waAssembly.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}

@section head {

}

<div class="pnl mb-0">
    <div class="panel-body">
        <div class="h1">
            Admin Login
        </div>

        @using (Html.BeginForm())
        {
            <div class="input-group focus">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.Password)
                <div class="input-group-append"><button type="submit" class="btn btn-success">Login</button></div>
            </div>
        }

    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.focus:first > input:first').focus();
        });
    </script>
}
