﻿@{
    ViewBag.Title = @Html.T("changePassword");
}

@using(@Html.BeginForm()) {
	<div class="row">

		<div class="col-md-12">
			<h2>
				@Html.T("changePassword")
			</h2>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label>@Html.T("newPassword")</label>
			</div>
			<input type="password" id="newPassword" name="newPassword" />
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<label>@Html.T("repeat"): @Html.T("newPassword")</label>
			</div>
			<input type="password" id="newPasswordRepeat" name="newPasswordRepeat" />

		</div>
	</div>

	<div class="spacer"></div>
	
	<div class="row">

		<div class="col-md-12">
			<input type="submit" class="btn btn-success" value="@Html.T("save")" />
		</div>

	</div>
}