﻿@{
    ViewBag.Title = @Html.T("User.notLoggedIn");
}

<div class="pnl mb-0">
    <div class="panel-body">
        <div class="text-center">
            <h2 class="mb-0">
                @ViewBag.Title
            </h2>
        </div>
    </div>
</div>
