/*~/assets/css/print.less.css*/
body{background-color:#fff}h3{color:#33414e !important}.panel.panel-list{margin-top:0 !important;padding-top:0 !important;padding:0 !important}.panel-list .list-row>li{border-bottom:1px solid #ddd !important}.report-printing h1,.report-printing h2,.report-printing h3{margin:5px;margin-left:0}.hidden-print{display:none !important}input[type=checkbox]{display:none !important}

