﻿@model List<API.Data.Setting>
@{
    ViewBag.Title = "Indstillinger";
}

<div class="pnl">
    <div class="panel-body">
        <div class="h1">
            @ViewBag.Title
        </div>
    </div>
</div>

<div class="pnl mb-0">
    <div class="panel-body mb-0">
        @using (Html.BeginForm())
        {
            int counter = 0;
            foreach (var setting in Model)
            {

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="hidden" name="items[@counter].ID" value="@setting.ID" />
                            <label>@setting.Name</label>
                            <input type="text" class="form-control" name="items[@counter].SettingValue" value="@setting.SettingValue" />
                            <span class="form-text dimmed">@setting.Description</span>
                        </div>
                    </div>
                </div>

                counter++;
            }

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Save</button>
                    @*<span class="form-text dimmed">Bemærk! Der kan gå op til 2 timer før ændringer afspejles i brugerfladen.</span>*@
                </div>
            </div>
        }
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/assets/js/base/indexSearcher-4.js"></script>
    <script type="text/javascript">
		$(function () {
			$('#indexSearch').indexSearcher(
				{
					endpoint: '@Url.Action("Index")/Search'
					,resultsElement: '#results'
					//,ajaxAdditionalData: { Archive: false }
				}
			);
		})
    </script>
}