﻿@model API.Data.Models.TimeLogSearchModel
@{
    ViewBag.Title = Html.T("stats");
}

@using (Html.BeginForm())
{

    @Html.HiddenFor(m => m.IsPostback, new { Value = bool.TrueString })

    <div class="pnl mb-0">
        <div class="panel-body">
            <div class="h1">
                @ViewBag.Title
                <div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Date from</label>
                        @Html.TextBoxFor(m => m.DateFrom, new { type = "date", @class = "form-control", Value = (Model.DateFrom ?? DateTime.Now.AddMonths(-1)).ToDefString() })
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Date to</label>
                        @Html.TextBoxFor(m => m.DateTo, new { type = "date", @class = "form-control", Value = (Model.DateTo ?? DateTime.Now).ToDefString() })
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>User</label>
                        <select name="@Html.NameFor(m => m.UserID)" class="form-control">
                            <option value="">@Html.T("all")</option>
                            @foreach (var user in Model.AvailableUsers)
                            {
                                <option value="@user.ID" @(user.ID == Model.UserID ? "selected" : "")>@user.NameFull</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Workstation</label>
                        <select name="@Html.NameFor(m => m.WorkstationID)" class="form-control">
                            <option value="">@Html.T("all")</option>
                            @foreach (var ws in Model.AvailableWorkstations)
                            {
                                <option value="@ws.ID" @(ws.ID == Model.WorkstationID ? "selected" : "")>@ws.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    @Html.CheckBoxFor(m => m.ExportToExcel)
                    <label for="@Html.IdFor(m => m.ExportToExcel)">Export to Excel</label>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.IsPostback) { 
    <div class="pnl mb-0 mt-3">
        <div class="panel-body">
            @if (!Model.Timelogs.Any())
            {
                <div class="alert alert-info">
                    @Html.T(TKeys.nodata)
                </div>
            }
            else
            {
                    <table class="table table-sm table-striped mb-0">
                        <thead>
                            <tr>
                                <th>@Html.T(TKeys.start)</th>
                                <th>@Html.T("end")</th>
                                <th class="text-right">@Html.T("duration")</th>
                                <th>@Html.T(TKeys.user)</th>
                                <th>@Html.T(TKeys.workstation)</th>
                                <th>@Html.T(TKeys.Order.order)</th>
                                <th>@Html.T(TKeys.statusCode)</th>
                                @*<th>@Html.T(TKeys.statusCode) Type ID</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var log in Model.Timelogs)
                            {
                            <tr title="@log.ID">
                                <td>@log.StartTimeUtc.ToDefStringLocalTime(true)</td>
                                <td>@log.StartTimeUtc.AddSeconds(log.Duration ?? 0).ToDefStringLocalTime(true)</td>
                                <td class="text-right">@(TimeSpan.FromSeconds(log.Duration ?? 0).ToTimeString())</td>
                                <td>
                                    @(log.User?.NameFull)
                                </td>
                                <td>@(log.Workstation?.Name)</td>
                                <td>@log.Barcode</td>
                                <td>@(log.StatusCode?.LocalizedValues.FirstOrDefault(m => m.Language.Locale == "da-DK")?.Text)</td>
                                @*<td>@(log.StatusCode?.StatusCodeTypeID)</td>*@
                            </tr>
                            }
                        </tbody>
                    </table>

            }
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
    </script>
}
