﻿@*@Html.Partial("_buttonsRow", new waAssembly.Models.ButtonsModel() { ButtonCount = 2, Fixed = true })*@
@model waAssembly.Models.ButtonsModel
@{
	if (Model != null)
	{
		if (Model.ButtonCount == 0)
		{
			Model.ButtonCount = 3;
		}
		else if (Model.ButtonCount > 3)
		{
			throw new Exception("Button count must be 1-3");
		}
	}

	bool HideSaveAndClose = (@Model != null && Model.TwoButtons);
	string iconsClass = (Model != null && Model.HideIcons ? "hidden" : "");
	bool OmitSpacer = (Model != null && Model.OmitSpacer);
	bool Fixed = (Model != null && Model.Fixed);

	bool ShowButtonOne = (Model == null || (Model != null && Model.ButtonCount >= 1 && Model.OmitButtonNumber != 1));
	bool ShowButtonTwo = (Model == null || (Model != null && Model.ButtonCount >= 2 && Model.OmitButtonNumber != 2));
	bool ShowButtonThree = (Model == null || (Model != null && Model.ButtonCount >= 3 && Model.OmitButtonNumber != 3));

	string CancelUrl = (Model != null && !string.IsNullOrEmpty(Model.CancelUrl) ? Model.CancelUrl : Url.Action("Index"));
}

@if (!OmitSpacer)
{
	<div class="spacer"></div>
}
<div class="buttons@(Fixed ? "fixed" : "") row">
	<div class="col-md-12">
		<input type="hidden" name="ru" value="@Url.MakeReturnUrl()" />
		<input type="hidden" name="saveAction" id="saveAction" />

		@if (ShowButtonOne)
		{
			<button type="submit" name="SaveAndClose" onclick="$('#saveAction').val('SaveAndClose');" class="btn btn-success ays-allow-navigate fa-space">
				<i class="fa fa-check @iconsClass"></i>
				<i class="fa fa-times visible-xs default-button-close-xs @iconsClass"></i>
				<span class="hidden-xs">@Html.T(TKeys.saveAndClose)</span>
			</button>
		}
		@if (ShowButtonThree)
		{
			<button type="submit" name="Save" onclick="$('#saveAction').val('Save');" class="btn btn-success ays-allow-navigate fa-space">
				<i class="fa fa-check @iconsClass"></i>
				<span class="hidden-xs">@Html.T(TKeys.save)</span>
			</button>
		}
		@if (ShowButtonTwo)
		{
			<a href="@Url.ReturnUrl(CancelUrl)" onclick="$(this).closest('form').removeClass('dirty')" class="ays-allow-navigate btn btn-default" data-ays-ignore="true">
				<i class="fa fa-times @iconsClass"></i>
				<span class="hidden-xs">@Html.T(TKeys.cancel)</span>
			</a>
		}
	</div>
</div>
