﻿
@if (!string.IsNullOrEmpty("" + TempData[enums.TempDataKeys.MessageInfo.ToString()]))
{
    <div class="alert alert-info">@Html.Raw(TempData[enums.TempDataKeys.MessageInfo.ToString()])</div>
}
@if (!string.IsNullOrEmpty("" + TempData[enums.TempDataKeys.MessageError.ToString()]))
{
    <div class="alert alert-danger">@Html.Raw(TempData[enums.TempDataKeys.MessageError.ToString()])</div>
}
@if (!string.IsNullOrEmpty("" + TempData[enums.TempDataKeys.MessageWarning.ToString()]))
{
    <div class="alert alert-warning">@Html.Raw(TempData[enums.TempDataKeys.MessageWarning.ToString()])</div>
}
@if (!string.IsNullOrEmpty("" + TempData[enums.TempDataKeys.MessageSuccess.ToString()]))
{
    <div class="alert alert-success">@Html.Raw(TempData[enums.TempDataKeys.MessageSuccess.ToString()])</div>
}