﻿@using waAssembly

@{
    string containerClass = "container";
    if (ViewBag.LayoutFluid != null && (bool)ViewBag.LayoutFluid)
    {
        containerClass = "container-fluid";
    }
    // quick'n'dirty:
    string thisurl = this.Request.Url.ToString().ToLower();
    if (!thisurl.Contains("login") && !thisurl.Contains("unauthorized")) {
        statics.App.SetSession(enums.SessionKeys.LastPageVisited, this.Request.Url.ToString());
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - montana assembly</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">

    <script type="text/javascript">
        var globals = {};
        globals.currentUrl = '@Server.UrlDecode(Url.MakeReturnUrl())';
    </script>

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Libre+Barcode+39+Text" rel="stylesheet" type="text/css" />

    @Url.RenderBundle("waAssembly.css")
    @RenderSection("head", required: false)

</head>
<body>

    <div id="osd"></div>
    <div id="wrapper">
        <!-- <Fixed navbar> -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">Montana</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fal fa-bars"></i>
            </button>

            @Html.Partial("_navigation")
        </nav>
        <!-- </Fixed navbar> -->
        <!-- <container> -->
        <div id="mainWrapper" class="main-wrapper @(containerClass)" data-ng-app="waAssembly">
            @RenderBody()
        </div>
        <!-- </container> -->

        <div class="spacer"></div>
        <footer></footer>
    </div>

    <div class="modal fade" id="modalUserChange" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Html.T("User.change")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group quick-find focus">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control search-phrase" placeholder="@Html.T("placeholderSearch")" />
                            <div class="input-group-append">
                                <span class="input-group-text link index-search-clear" onclick="$(this).closest('.input-group').find('.search-phrase').val('').focus().trigger('input')"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="results">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">@Html.T(TKeys.cancel)</button>
                </div>
            </div>
        </div>
    </div>

    @if (CurrentUser != null) { 
    <div class="modal fade" id="modalUserOptions" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@CurrentUser.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*<a href="@Url.Action("Logout", "Account", new { stop = false })" class="btn btn-primary btn-block mb-3">
                        <i class="fa fa-sign-out fa-space"></i>
                        @Html.T("logoutAndContinueTimer")
                    </a>
                    <div class="mb-2">&nbsp;</div>*@
                    <a href="@Url.Action("Logout", "Account", new { stop = true })" class="btn btn-secondary btn-block mb-3">
                        <i class="fa fa-sign-out fa-space"></i>
                        @Html.T("logoutAndStopTimer")
                    </a>
                    <div class="mb-2">&nbsp;</div>
                    <a href="@Url.Action("UpdatePassword", "Account")" class="btn btn-default btn-block">
                        <i class="fa fa-key fa-space"></i>
                        @Html.T("User.updatePassword")
                    </a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Html.T(TKeys.cancel)</button>
                </div>
            </div>
        </div>
    </div>
    }

    @Url.RenderBundle("waAssembly.js")

    @RenderSection("scripts", required: false)

</body>
</html>
