﻿@using waAssembly

@{
    string containerClass = "container";
    if (ViewBag.LayoutFluid != null && (bool)ViewBag.LayoutFluid)
    {
        containerClass = "container-fluid";
    }
    // quick'n'dirty:
    statics.App.SetSession(enums.SessionKeys.LastPageVisited, this.Request.Url.ToString());
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - montana assembly</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">

    <script type="text/javascript">
        var globals = {};
        globals.currentUrl = '@Server.UrlDecode(Url.MakeReturnUrl())';
    </script>

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Libre+Barcode+39+Text" rel="stylesheet" type="text/css" />

    @Url.RenderBundle("waAssembly.css")
    @RenderSection("head", required: false)


    <style type="text/css">
        * {
            color: black !important;
            font-size: 16px;
        }
        body {
            background-color: white !important;
        }
        .main-wrapper {
            margin: 0 !important;
            background-color: white !important;
        }
        tr {
            page-break-inside: avoid;
        }
        h3 {
            font-size: 26px;
        }
        .barcode {
            font-size: 56px;
        }
    </style>
</head>
<body>
    <div id="osd"></div>
    <div id="wrapper">
        <!-- <container> -->
        <div id="mainWrapper" class="main-wrapper @(containerClass)" data-ng-app="waAssembly">
            @RenderBody()
        </div>
    </div>
    @Url.RenderBundle("waAssembly.js")
    @RenderSection("scripts", required: false)
</body>
</html>
