﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - waAssembly</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="../../assets/ico/favicon.ico">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow|PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,500' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	@Styles.Render("~/cssbundles/waAssembly")
	@RenderSection("head", required: false)
</head>
<body>
	<div id="wrapper">
		<!-- Fixed navbar -->
		
		<div class="spacer"></div>
		<div id="mainWrapper" class="container pad20">
			@RenderBody()
		</div>
		<!-- /container -->
		<div class="spacer"></div>
		<footer>
		</footer>
	</div>
	<form id="__aaft" action="#" method="post">@Html.AntiForgeryToken()</form>
	@RenderSection("Scripts", false)
</body>
</html>
