﻿@{
    Layout = "_Layout.cshtml";
}

<div class="content-wrapper-main">

    @Html.Partial("_errorDisplayMarkup")

    @if (IsSectionDefined("headerLeft") || IsSectionDefined("headerRight"))
    {
        int cols = 12;
        if (IsSectionDefined("headerLeft") && IsSectionDefined("headerRight"))
        {
            cols = 6;
        }
        <div class="pnl page-header">
            <div class="panel-body">
                <div class="row">
                    @if (IsSectionDefined("headerLeft"))
                    {
                        <div class="col-sm-@cols">
                            <div class="h1">
                                @RenderSection("headerLeft")
                            </div>
                        </div>
                    }

                    @if (IsSectionDefined("headerRight"))
                    {
                        <div class="col-sm-@cols text-right-sm-up header-right">
                            @RenderSection("headerRight")
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    @RenderBody()

</div>



@section head {
    @RenderSection("head", required: false)
}

@section scripts {
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(window).ready(function () { includer(); });
    </script>

    @if (TempData[API.Data.enums.TempDataKeys.ShowOk.ToString()] != null && !String.IsNullOrEmpty(TempData[API.Data.enums.TempDataKeys.ShowOk.ToString()] + ""))
    {
        string msgThumbsUp = "";
        if (!string.IsNullOrEmpty("" + TempData[enums.TempDataKeys.MessageInfo.ToString()]))
        {
            msgThumbsUp = "" + TempData[enums.TempDataKeys.MessageInfo.ToString()];
        }
        else if (!string.IsNullOrEmpty("" + TempData[enums.TempDataKeys.MessageSuccess.ToString()]))
        {
            msgThumbsUp = "" + TempData[enums.TempDataKeys.MessageSuccess.ToString()];
        }

        <script type="text/javascript">$(window).ready(function () { clientside.thumbsUp('@msgThumbsUp'); });</script>
    }
    
    @if (TempData[enums.TempDataKeys.ShowError.ToString()] != null || !String.IsNullOrEmpty(ViewBag.Error))
    {
        <script type="text/javascript">$(window).ready(function () { clientside.thumbsDown(); });</script>
    }

    @*<form id="__aaft" action="#" method="post">@Html.AntiForgeryToken()</form>*@
}
