﻿@{
    TimeLog runningTimer = null;
    if (CurrentUser != null)
    {
        using (var db = new DAL())
        {
            runningTimer = db.TimeLogGetRunning(CurrentUser.ID);
        }
    }
}

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Order", new { area = "" })">@Html.T("Order.order")</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Parked", "Order", new { area = "" })">@Html.T("Order.parked")</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Done", "Order", new { area = "" })">@Html.T("Order.done")</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("PartsRunner", "Process", new { area = "" })">@Html.T("partsRunner")</a>
        </li>

        @if (!(CurrentUser?.IsAdmin ?? false) && ("" + Session?["adminOk"]) != "true")
        {
            <li class="nav-item">
                <a href="@Url.Action("AdminLogin", "Account")">Admin</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a href="@Url.Action("StatsChangeLog", "Order", new { area = "" })">@Html.T("Stats.changeLog")</a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Dictionary", new { area = "" })">Dictionary</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "User", new { area = "" })">@Html.T("user")</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Workstation", new { area = "" })">@Html.T("workstation")</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "CheckListItem", new { area = "" })">@Html.T("checkListItem")</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "StatusCode", new { area = "" })">@Html.T("statusCode")</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Parts", new { area = "" })">@Html.T("parts")</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "PartCategory", new { area = "" })">@Html.T("partCategory")</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Stats", new { area = "" })">@Html.T("stats")</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("index", "setting", new { area = "" })">Indstillinger</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Abandon", "Account", new { area = "" })">Admin logout</a>
            </li>
        }
    </ul>

    <ul class="my-2 my-lg-0 navbar-nav float-right">
        @if (runningTimer != null)
        {
            <li class="nav-item p-0 pr-3">
                @if (runningTimer.StatusCodeID.HasValue)
                {
                    <a href="@Url.Action("Start", "Process", new { Barcode = runningTimer.Barcode })" class="btn btn-sm btn-danger">
                        <i class="far fa-clock fa-space"></i>
                        @(runningTimer.StatusCode.LocalizedValues.FirstOrDefault(m => m.Language.Locale == Culture)?.Text)
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Running", "Process")" class="btn btn-sm btn-success">
                        <i class="far fa-clock"></i> @Html.T("gotoActiveOrder")
                    </a>
                }
            </li>
        }

        <li class="nav-item p-0">
            @if (CurrentUser == null)
            {
                <a class="btn btn-sm btn-danger nav-user-change"><i class="far fa-user fa-space"></i>@Html.T("login")</a>
            }
            else
            {
                <a class="btn btn-sm btn-primary nav-user-options"><i class="far fa-user fa-space"></i>@CurrentUser.Name</a>
            }
        </li>

        <li class="nav-item p-0">
            <a id="clock"></a>
        </li>
    </ul>
</div>
