﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title xtext-center">
    <h2 class="error">:-( Ups. Dét er en fejl</h2>
</hgroup>

<a class="btn btn-success" href="@HttpUtility.UrlDecode(Url.MakeReturnUrl())">Indlæs siden igen</a>

<br /><br />

<pre>
@Model.ControllerName/@Model.ActionName
</pre>
<pre>
@Model.Exception.Message
</pre>
<pre>
@Model.Exception.StackTrace
</pre>