﻿@model List<API.Data.CheckListItem>
@{
}

@if (Model == null || !Model.Any())
{
<div class="alert alert-danger">
    @Html.T("nodata")
</div>
}
else
{
	<div class="panel panel-list">
		<ul class="list-row list-row-header">
			<li>ID</li>
			<li>@Html.T("name")</li>
		</ul>

		@foreach (var item in Model)
		{
			<ul class="list-row" data-clickurl="@Url.Action("Edit", new { ID = item.ID })">
				<li>
					@item.ID
				</li>
				<li>
					<a href="@Url.Action("Edit", new { ID = item.ID })">@item.Name</a>
				</li>
			</ul>
		}
	</div>
}


@section scripts {

}
