﻿@model API.Data.Models.CheckListItemEditModel
@{
    ViewBag.Title = Html.T("checkListItem");
}

@section headerLeft {
    @ViewBag.Title
    <span class="h1-sub"></span>
}

@section headerRight {
    <div>
        @if (CurrentUser?.HasRole("SBA") ?? false)
        {
            <a class="btn btn-sm btn-default" href="@Url.Action("Impersonate", "User", new { ID = Model.ID })">Impersonate</a>
        }
        <a class="btn btn-sm btn-default inline-danger inline-confirm"><i class="fa fa-trash-alt fa-space"></i>@Html.T("delete")</a>
        <a href="@Url.Action("Delete", new { ID = Model.ID })" class="btn btn-sm btn-danger hidden"><i class="fa fa-trash-alt fa-space"></i>@Html.T("confirmDelete")</a>


        <a href="@Url.Action("Index")" class="btn btn-sm btn-default ays-cancel"><i class="fa fa-arrow-left fa-space"></i>@Html.T("back")</a>
    </div>
}

<div class="pnl">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.ID)

            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>

            for (var i = 0; i < Model.LocalizedValues.Count; i++)
            {
                var element = Model.LocalizedValues[i];
            <div class="form-group focus">
                <label>@Model.AvailableLanguages.First(m => m.ID == element.LanguageID).Name</label>
                <input type="hidden" name="LocalizedValues[@i].ID" value="@element.ID" />
                <input type="hidden" name="LocalizedValues[@i].LanguageID" value="@element.LanguageID" />
                <input type="hidden" name="LocalizedValues[@i].SourceEntityName" value="@element.SourceEntityName" />
                <input type="hidden" name="LocalizedValues[@i].SourceEntityID" value="@element.SourceEntityID" />
                <input type="text" class="form-control" name="LocalizedValues[@i].Text" value="@element.Text" />
            </div>
            }

            @Html.Partial("_buttonsRow", new ButtonsModel() { }, new ViewDataDictionary())
        }


    </div>
</div>

@section scripts {

}
