﻿@model List<API.Data.Models.OrderInProgressModel>
@{
}

@if (Model == null || !Model.Any())
{
    <div class="alert alert-danger">
        @Html.T("nodata")
    </div>
}
else
{
    <div class="panel panel-list">
        <ul class="list-row list-row-header">
            <li>@Html.T("barcode")</li>
            <li>@Html.T("Order.workedBy")</li>
            <li>@Html.T(TKeys.workstation)</li>
            <li>@Html.T("modifiedOn")</li>
            <li>@Html.T("Order.inProgressRightNow")</li>
            <li></li>
        </ul>

        @foreach (var item in Model.OrderByDescending(m => m.ModifiedOn))
        {
            <ul class="list-row">
                <li>
                    @item.Barcode
                </li>
                <li>@item.ModifiedByUser.NameFull</li>
                <li>@(item.Workstation?.Name)</li>
                <li>@item.ModifiedOn.ToDefStringLocalTime(true)</li>
                <li>@item.InProgress.BooleanFaIcon()</li>
                <li class="text-right">
                    @if (!item.InProgress && item.ModifiedByUserID == (CurrentUser?.ID ?? 0))
                    {
                        <a class="btn btn-success" href="@Url.Action("Start", "Process", new { Barcode = item.Barcode })">@Html.T(TKeys.Timer.start)</a>
                    }
                </li>
            </ul>
        }
    </div>
}


@section scripts {

}
