﻿@model List<API.Data.NavInfo>
@{
}

@if (Model == null || !Model.Any())
{
    <div class="alert alert-danger mb-0">
        @Html.T("nodata")
    </div>
}
else
{
    <div class="panel panel-list">
        <ul class="list-row list-row-header">
            <li>@Html.T("barcode")</li>
            <li></li>
        </ul>

        @foreach (var item in Model)
        {
            <ul class="list-row">
                <li>
                    @item.Barcode
                </li>
                <li style="" class="text-right">
                    @if (CurrentUser != null)
                    {
                    <a href="@Url.Action("Start", "Process", new { Barcode = item.Barcode })" class="btn btn-@(item.IsParked ? "warning" : "success")">
                        @if (item.IsParked)
                        {
                            <i class="far fa-parking-circle fa-margin"></i>
                        }
                        @Html.T("Timer.start")
                    </a>
                    }
                    else
                    {
                        <a class="btn btn-danger">@Html.T("StatusMessage.notLoggedIn")</a>
                    }
                </li>
            </ul>
        }
    </div>
}


@section scripts {

}
