﻿@model List<API.Data.OrderParking>
@{
}

@if (Model == null || !Model.Any())
{
<div class="alert alert-danger">
    @Html.T("nodata")
</div>
}
else
{
	<div class="panel panel-list">
        <ul class="list-row list-row-header">
            <li>
                @Html.T(TKeys.barcode)
            </li>
            <li>
                @Html.T("modifiedOn")
            </li>
            <li>
                @Html.T("modifiedBy")
            </li>
            <li>
                @Html.T(TKeys.statusCode)
            </li>
            <li></li>
        </ul>

		@foreach (var order in Model)
		{
        <ul class="list-row">
            <li>
                @order.Barcode
            </li>
            <li>
                @order.ModifiedOnUtc.ToDefStringLocalTime(true)
            </li>
            <li>
                @(order.ModifiedByUser?.NameFull)
            </li>
            <li>
                @(order.StatusCode?.LocalizedValues.FirstOrDefault(m => m.Language.Locale == "da-DK")?.Text)
            </li>
            <li class="text-right">
                @if (CurrentUser != null)
                {
                    <a href="@Url.Action("Start", "Process", new { Barcode = order.Barcode })" class="btn btn-success">@Html.T("Timer.start")</a>
                }
                else
                {
                    <a class="btn btn-danger">@Html.T("StatusMessage.notLoggedIn")</a>
                }
            </li>
        </ul>
        }
	</div>
}


@section scripts {

}
