﻿@model List<OrderParking>
@{
    ViewBag.Title = Html.T("Order.done");
}

<div class="pnl">
    <div class="panel-body">
        <div class="h1">
            @ViewBag.Title
            <div>
            </div>
        </div>
        <div class="form-group quick-find focus select">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" id="indexSearch" placeholder="@Html.T("placeholderSearch")" />
                <div class="input-group-append">
                    <span class="input-group-text link index-search-clear"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="xresults" class="pnl hidden mb-0">
    <div class="panel-body">
        <div id="results">
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/assets/js/base/indexSearcher-4.js"></script>
    <script type="text/javascript">
        $(function () {

			$('#indexSearch').indexSearcher(
				{
                    endpoint: '@Url.Action("Index")/SearchDone',
                    resultsElement: '#results',
                    persistSearchPhrase: false,
                    events: {
                        onDone: function () {
                            var r = $('#results .btn.btn-success');
                            console.log(r.length);
                            //if (r.length == 1) {
                            //    window.location.href = r.attr('href');
                            //}
                        }
                    }
					//,ajaxAdditionalData: { Archive: false }
				}
			);
		})
    </script>
}
