﻿@{
    ViewBag.Title = Html.T("Order.order");
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active show" href="#tabData" aria-controls="tabData" role="tab" data-toggle="tab">@Html.T("Order.order")</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="navItemInProgress" href="#tabInProgress" aria-controls="tabData" role="tab" data-toggle="tab">@Html.T("Order.inProgress")</a>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tabData">
        <div class="pnl">
            <div class="panel-body">
                @*<div class="h1">
                    @ViewBag.Title
                    <div>
                    </div>
                </div>*@
                <div class="form-group quick-find focus select mb-0">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" id="indexSearch" placeholder="@Html.T("placeholderSearch")" />
                        <div class="input-group-append">
                            <span class="input-group-text link index-search-clear"><i class="fa fa-times"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pnl hidden mb-0">
            <div class="panel-body">
                <div id="results">
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="tabInProgress">
        <div class="pnl mb-0">
            <div class="panel-body">
                <div id="resultsInProgress"></div>
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script type="text/javascript" src="~/assets/js/base/indexSearcher-4.js?fk=@statics.App.Version"></script>
    <script type="text/javascript">
        $(function () {
            $('#navItemInProgress').on('click', function () {
                $('#resultsInProgress').empty().load('@Url.Action("Index")/SearchInProgress');
            });

			$('#indexSearch').indexSearcher(
				{
                    endpoint: '@Url.Action("Index")/Search',
                    resultsElement: '#results',
                    persistSearchPhrase: false,
                    events: {
                        onDone: function () {
                            var r = $('#results .btn.btn-success,#results .btn.btn-warning');
                            if (r.length == 1) {
                                window.location.href = r.attr('href');
                            }
                        }
                    }
					//,ajaxAdditionalData: { Archive: false }
				}
			);
		})
    </script>
}
