﻿@model List<API.Data.Models.OrderFlowModel>
@{
    /**/

    ViewBag.Title = Html.T("Stats.changeLog");
}


<div class="pnl">
    <div class="panel-body">
        <div class="h1">
            @ViewBag.Title
            <div>
            </div>
        </div>
        <form method="get">
            <div class="form-group quick-find focus select mb-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" name="BarcodePrefix" id="indexSearch" placeholder="@Html.T("placeholderSearch")" value="@(Model.FirstOrDefault()?.Barcode.Substring(0, 6))" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">@Html.T("placeholderSearch")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model.Any())
{
    <div class="pnl mb-0">
        <div class="panel-body">
            <a class="btn btn-default" data-showhide="show" onclick="showHide(this);"><i class="fa fa-caret-down fa-space"></i>Vis/skjul alle</a>
            <div class="panel panel-list">
                <ul class="list-row list-row-header">
                    <li></li>
                    <li>
                        @Html.T(TKeys.barcode)
                    </li>
                    <li>
                        @Html.T(TKeys.Stats.isCompleted)
                    </li>
                    <li>
                        @*@Html.T(TKeys.Order.inProgress)*@
                    </li>
                    <li>
                        @Html.T(TKeys.workstation)
                    </li>
                    <li>
                        @Html.T(TKeys.Stats.mostRecentTimelogStart)
                    </li>
                </ul>


                @foreach (var item in Model)
                {

                    bool hasLogs = item.TimeLogs.Any() || item.ChangeLogs.Any();

                    <ul class="list-row">
                        <li style="width: 20px;">
                            <button data-barcode="@item.Barcode" class="btn btn-default fa-space @(hasLogs ? "" : "invisible")" type="button"><i class="fa fa-caret-down"></i></button>
                        </li>
                        <li>
                            @item.Barcode <div class="dimmed">(D: @item.NavInfoDepth / @item.NavInfoColorSides)</div>
                        </li>
                        <li>
                            @item.MarkedCompleted.BooleanFaIcon()
                        </li>
                        <li>
                            @*@if (!item.MarkedCompleted)
                            {
                                <div>@item.CurrentlyInProgress.BooleanFaIcon()</div>
                            }*@
                        </li>
                        <li>
                            @item.RecentWorkstation
                        </li>
                        <li>
                            @(item.TimeLogs?.OrderByDescending(m => m.StartTimeUtc).FirstOrDefault()?.StartTimeUtc.ToDefStringLocalTime(true) ?? "")
                        </li>
                    </ul>

                    if (hasLogs)
                    {
                        var startTimes = item.TimeLogs.Select(m => m.StartTimeUtc).ToList();
                        startTimes.AddRange(item.ChangeLogs.Select(m => m.CreatedOnUtc).ToList());

                        foreach (var time in startTimes.Distinct().OrderByDescending(m => m))
                        {
                            var times = item.TimeLogs.Where(m => m.StartTimeUtc == time);
                            var changes = item.ChangeLogs.Where(m => m.CreatedOnUtc == time);

                            var barcode = (times.Any() ? times.First().Barcode : changes.First().Barcode);

                            if (times.Any())
                            {
                                foreach (var log in times)
                                {
                                    <ul data-barcode-parent="@barcode" class="list-row hidden" style="background-color:#f2f2f2;">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li>
                                            @(log.User?.NameFull)
                                        </li>
                                        <li>
                                            @(log.Workstation?.Name)
                                        </li>
                                        <li>
                                            @log.StartTimeUtc.ToDefStringLocalTime(true)
                                        </li>
                                    </ul>
                                }
                            }

                            if (changes.Any())
                            {
                                foreach (var log in changes)
                                {
                                    <ul data-barcode-parent="@barcode" class="list-row hidden" style="background-color:#f2f2f2;">
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li class="no-wrap">
                                            @(log.CreatedByUser.NameFull)
                                        </li>
                                        <li>
                                            @if (log.IsDiscarded)
                                            {
                                                <div class="text-danger">
                                                    <i class="far fa-trash fa-margin"></i> 
                                                    Skrottet
                                                </div>
                                            }
                                            else if (log.IsParked)
                                            {
                                                <div class="text-info">
                                                    <i class="far fa-parking-circle fa-margin"></i>
                                                    Parkeret
                                                    @if (log.ParkedStatusCode != null)
                                                    {
                                                        <span>- @(log.ParkedStatusCode.LocalizedValues.FirstOrDefault(m => m.Language.Locale == "da-DK")?.Text)</span>
                                                    }
                                                </div>
                                            }
                                            else if (log.IsCompleted)
                                            {
                                                <div class="text-success">@(true.BooleanFaIcon()) Færdigmeldt</div>
                                            }
                                            else if (log.ParkedStatusCodeID.HasValue) {

                                            }
                                        </li>

                                        <li>
                                            @log.CreatedOnUtc.ToDefStringLocalTime(true)
                                        </li>
                                    </ul>
                                }
                            }
                        }
                    }

                }
            </div>

        </div>
    </div>
}
else if (Model != null)
{
    <div class="alert alert-info mb-0">
        @Html.T(TKeys.nodata)
    </div>
}

@section scripts{
    <script type="text/javascript">
        $('.list-row.hidden').hide().removeClass('hidden');

        $(document).on('click', 'button[data-barcode]', function () {
            var t = $(this), barcode = t.attr('data-barcode');
            $('ul[data-barcode-parent="' + barcode + '"').fadeToggle(); //.slideToggle().removeClass('hidden');
        })
        function showHide(btn) {
            var t = $(btn);
            if (t.attr('data-showhide') == "show") {
                t.attr('data-showhide', 'hide');
                $('[data-barcode-parent]').show();
            } else {
                t.attr('data-showhide', 'show');
                $('[data-barcode-parent]').hide();
            }
        }
    </script>
}