﻿@model List<API.Data.Models.OrderFlowModel>
@{
    /**/

    ViewBag.Title = Html.T("Stats.orderFlow");
}


<div class="pnl">
    <div class="panel-body">
        <div class="h1">
            @ViewBag.Title
            <div>
            </div>
        </div>
        <form method="get">
            <div class="form-group quick-find focus select mb-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" name="BarcodePrefix" id="indexSearch" placeholder="@Html.T("placeholderSearch")" value="@(Model.FirstOrDefault()?.Barcode.Substring(0, 6))" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">@Html.T("placeholderSearch")</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model.Any())
{
    <div class="pnl mb-0">
        <div class="panel-body">
            <div class="panel panel-list">
                <ul class="list-row list-row-header">
                    <li>
                        @Html.T(TKeys.barcode)
                    </li>
                    <li>
                        @Html.T(TKeys.Stats.isCompleted)
                    </li>
                    <li>
                        @Html.T(TKeys.Order.inProgress)
                    </li>
                    <li>
                        @Html.T(TKeys.workstation)
                    </li>
                    <li>
                        @Html.T(TKeys.Stats.mostRecentTimelogStart)
                    </li>
                </ul>


                @foreach (var item in Model)
                {

                    //bool hasLogs = item.TimeLogs.Count > 1;

                    <ul class="list-row">
                        <li>
                            @*<button data-barcode="@item.Barcode" class="btn btn-default fa-space @(hasLogs ? "" : "invisible")" type="button"><i class="fa fa-caret-down"></i></button>*@
                            @item.Barcode
                        </li>
                        <li>
                            @item.MarkedCompleted.BooleanFaIcon()
                        </li>
                        <li>
                            @if (!item.MarkedCompleted) {
                                <div>@item.CurrentlyInProgress.BooleanFaIcon()</div>
                            }
                        </li>
                        <li>
                            @item.RecentWorkstation
                        </li>
                        <li>
                            @(item.TimeLogs?.OrderByDescending(m => m.StartTimeUtc).FirstOrDefault()?.StartTimeUtc.ToDefStringLocalTime(true) ?? "")
                        </li>
                    </ul>

                    @*if (hasLogs) {
                        foreach (var log in item.TimeLogs.OrderByDescending(m => m.StartTimeUtc).Skip(1)) {
                            <ul data-barcode-parent="@log.Barcode" class="list-row hidden" style="background-color:#f2f2f2;">
                                <li>
                                    -
                                </li>
                                <li></li>
                                <li>
                                    
                                </li>
                                <li>
                                    @(log.Workstation?.Name)
                                </li>
                                <li>
                                    @log.StartTimeUtc.ToDefStringLocalTime(true)
                                </li>
                            </ul>
                        }
                    }*@

                }
            </div>

        </div>
    </div>
}
else if(Model != null)
{
    <div class="alert alert-info mb-0">
        @Html.T(TKeys.nodata)
    </div>
}

@section scripts{
    <script type="text/javascript">
        $('.list-row.hidden').hide().removeClass('hidden');
        $(document).on('click', 'button[data-barcode]', function() {
            var t = $(this), barcode = t.attr('data-barcode');
            $('ul[data-barcode-parent="' + barcode + '"').fadeToggle(); //.slideToggle().removeClass('hidden');
        })
    </script>
}