﻿

.dictionary-loading {
  background-color: #65b0e9 !important;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
  color: #ffffff !important;
  height: 100%;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
	background-size: 40px 40px !important;
	animation: 2s linear 0s normal none infinite running progress-bar-stripes !important;
}


ul#dictionarySections {
    list-style-type: none !important;
    margin: 0;
    padding: 0;
}
	ul#dictionarySections li {
		line-height: 30px;
        list-style-type:none;
	}
	ul#dictionarySections a.active {
		font-weight:bold;
	}

	/* section display in list*/
.key-section {
	color: #63A0D3;
}
/* selected locale in list*/
.dropdown-menu li a.highlight {
	background-color: lightblue !important;
}