﻿@import "variables.less.css";

/* dim labels for unchecked checkboxes */
input[type=checkbox]:not(:checked) + input[type=hidden] + label {
    font-weight: bold;
    color: lighten(@color-font-default, 30%) !important;
}

/* small select all/none button in panel headings */
.select-all {
	padding: 2px 10px;
}

.input-success {
	color: @color-white;
	background-color: lighten(@green, 20%);
}
.input-danger {
	color: @color-white;
	background-color: lighten(@red, 20%);
}

.panel.form-panel {
	padding: @padding-default;
}
	.panel.form-panel > .row:last-child { /* to equalize padding */
		margin-bottom: 0 !important;
	}

.form-panel h2.panel-heading {
	margin: 0;
	padding: 0;
	font-size: @font-size-heading-3;
	margin-bottom: @padding-default;
	font-weight: 600;
}
	.form-panel h2.panel-heading span {
		font-weight: 300;
		margin-left: @padding-default / 2;
		font-size: @font-size-heading-4;
	}

.form-control, .ui-select, .select2-selection {
	border-width: 1px;
	border-color: @color-stroke !important;
	border-left-color: @color-grey-light !important;
	box-shadow: none !important;
}
.form-control:focus {
	border-color: @color-grey-light !important;;
	color: darken(@color-text, 10%) !important;
}

hr.form-divider {
	border-color: lighten(@color-navbar-bg, 50%);
	margin: @padding-default * 2 0;
}
input {
	border-color: lighten(@color-navbar-bg, 40%) !important;
}
div.heading {
	margin-bottom: @padding-default;
	clear: both;
	overflow:hidden;
	border-bottom: 0px solid @color-navbar-bg;
	padding-bottom: 4px;
	color: @color-navbar-bg; /*@color-grey-darker;*/
	clear:both;
	width: auto;
}
@media (max-width:767px) {
	div.heading {
		margin-bottom: 0;
	}
}
	div.heading .btn {
		line-height: 1.2;
		padding: 0px 8px;
		position:relative;
		top: -2px;

    /* <test> */
	 background-color: transparent !important;
    color: green;
    border: 1px solid green !important;
    border-radius: 10px;
    /* </test> */
	}
	div.heading > div {
		width:auto;
		float:left;
		font-size: @font-size-heading-1;
		margin-right: @padding-default - 5;
	}
	div.heading::after {
		content: "";
		position:relative;
		top: @font-size-heading-1 - 1;
		display:block;
		background-color: lighten(@color-grey-medium, 45%);
		height:3px;
		overflow:hidden;
	}

.inline-edit {
	cursor:pointer;
}
.inedit-label.form-control {
	border: 0;
	padding-left: 0;
	box-shadow: none;
	width: auto;
	display:inline-block;
	background-color: transparent;
}

.form-case-edit .heading {
	margin-bottom: 0;
}
.form-case-edit h2 {
	margin-top: @padding-default / 2;
}

.select2 {
	width: 100% !important; /* or the width is wrong upon resize*/
}

div.buttons.row {
	padding: @padding-default;
}
/*@media (max-width:991px) {}*/
div.buttons > div, div.buttonsfixed > div {
	padding-left: 0 !important;
}
	

div.buttons.sticky-buttons-div {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: @color-white;
  left: 0px;
  margin: 0;
  z-index: 1000;
  padding: @padding-default;
  border-top: 1px solid @color-stroke;
}
div.buttons/*.sticky-buttons-div*/ > div {
  margin-left: 0;
  display:inline-block;
  text-align: center;
  width: 100%;
}
	
div.buttonsfixed {
	padding: 20px 0;
	padding-bottom: 0;
	margin-left:0;
	margin-right: 0;
	margin-top: 10px;
	border-top: 1px solid #d6d6d6;
}


/* <select styling> */

.ui-select {
  border: 1px solid @color-stroke;
  background-color: white;
  border-radius: @border-radius-default;
  display: inline-block;
  height: auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.ui-select::after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid;
  color: @color-grey-lighter;
  content: "";
  height: 0;
  margin-top: -3px;
  pointer-events: none;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 0;
  z-index: 0;
}
.ui-select select {
  width: calc(103%);
  height: 30px;
}
.ui-select > select {
  -moz-appearance: none;
  background: transparent none repeat scroll 0 0;
  border: medium none;
  cursor: pointer;
  display: block;
  font-size: 11px;
  min-width: 200px;
  outline: 0 none;
  position: relative;
  text-indent: 0.01px;
  text-overflow: "";
  width: 120%;
  z-index: 99;
}
.ui-select > select:focus {
width: 100%;
	}
/* </select styling> */


/* <tabs> */
.nav-tabs {
  border-bottom: 1px solid transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: @color-white;
  border-color: #ddd #ddd transparent;
  border-image: none;
  border-style: solid;
  
  border-left: 1px solid @color-stroke;
  color: @color-primary;
  cursor: default;
  z-index: 800;

}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
  text-decoration: none;
  color: @color-info;
}
/* </tabs> */


/* <autocomplete> */

.autocompleteWrapper {
	position:relative;
}

.autocompleteItemsContainer {
	background-color: #ffffff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  position: absolute;
  max-height: 1500000px;
  overflow-y: scroll;
  z-index:1000;
  top: 34px;
  left: 0;
  min-width: 232px; /* to make it stick out beyond a button group on task edit page */
}
	.autocompleteItemsContainer div {
		background-color: #ffffff;
		border-top: 1px solid #cccccc;
		line-height: 2;
		cursor:pointer;
	}
		.autocompleteItemsContainer div:first-child {
			border: 0;
		}
	.autocompleteItemsContainer div:hover, .autocompleteItemsContainer div.highlight {
		background-color: @color-primary;
		color: #ffffff;
	}
		.autocompleteItemsContainer div:hover span.dimmed, .autocompleteItemsContainer div.highlight span.dimmed {
			color: darken(white, 10%);
		}
.autocompleteTagRemove {
	display:inline-block;
	margin-left: 3px;
}

/* </autocomplete> */

/* 2018-02-28: why did I do the below thingy ? */
/* ...now I know. It's because form-groups have bottom margin and rows have bottom margin (in sm+), which causes too much margin... */
/*@media(min-width:992px) {
	.row > *[class^='col-'] > .form-group, .row > *[class*=' col-'] > .form-group {
		margin-bottom: 0;
	}
}*/

.panel-body .buttons.row {
	margin-bottom: 0;
}
