﻿@import "variables.less.css";

#clock {
    color: @color-font-default !important;
    font-size: 20px;
    margin-left: 10px;
}
.navbar-top, .navbar-expand-lg {
    z-index: 9001 !important;
}

.badge-pm {
    background-color: @color-red;
    color: @color-white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 5px;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
}

.nav-button-group {
    padding: 15px;
}

.navbar-brand {
    color: @color-font-default;
}

.navbar-nav a {
    color: @color-font-default;
}

.navbar-nav li {
    padding: 10px 15px;
}
.navbar-nav .dropdown li {
    padding: 5px 10px;
}


.navbar-toggler {
    border: 1px solid lighten(@color-font-default, 30%) !important;
    padding: 3px 6px;
    color: @color-font-default !important;
    font-size: 1.5em;
}

/*#globalInlineHelpTrigger {
	background-color: #7E9FCE;
	font-size: 12px;
	font-family: 'Courier New';
}*/
    @media(max-width: 767px) {
        .nav-button-group {
            padding: 10px;
        }

            .nav-button-group .dropdown-toggle {
                box-shadow: none !important;
            }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a {
            color: @color-white;
        }

            .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
                color: @color-grey-light;
            }
    }

    /* <navbar size> */
    @media (min-width: 768px) and (max-width: 991px) {
        .nav-button-group {
            padding: 10px;
        }

        /*.navbar {
            height: 40px !important;
            min-height: 40px !important;
            padding-top: 0;
            padding-bottom: 0;
        }*/

        .navbar-header, .navbar-brand {
            height: 40px !important;
        }

        .nav > li > a,
        .navbar-brand {
            padding: 10px !important;
        }

        .nav .dropdown a {
            padding: 5px;
        }
    }

    @media (max-width: 767px) {
        /*.navbar {
            height: 40px !important;
            min-height: 40px !important;
        }

        .navbar-header, .navbar-brand {
            height: 40px !important;
        }*/

        .nav a, .navbar-brand {
            padding: 10px !important;
        }

        .navbar {
            height: 40px !important;
            padding: 0;
        }

        .navbar-nav {
            background-color: @color-white;
            margin-top: 0;
        }

            .navbar-nav .dropdown.open, .navbar-nav .dropdown.open a {
                /*background-color: lighten(@color-primary, 20%);*/
                color: #ffffff !important;
            }

        .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
            background-color: @color-primary;
            color: @color-white;
        }

        .navbar-nav .dropdown-header {
            color: #ffffff !important;
            display: none;
        }

        .navbar-nav .divider {
            display: none;
        }

        .navbar-nav .dropdown-menu {
            margin-left: @padding-default;
        }
    }
    /* </navbar size>*/

    .navbar {
        position: fixed !important;
        top: 0;
        z-index: 1020;
        width: 100%;
        text-align: center;
        background-color: #fff;
        border-bottom: 1px solid @color-stroke;
    }

    .sidebar {
        position: fixed;
        z-index: 1019;
        width: 200px;
        height: 100vh;
        flex: 0 0 200px;
        background-color: @color-menu-sidebar;
    }

        .sidebar .sidebar-nav {
            position: relative;
            -ms-flex: 1;
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
            -ms-overflow-style: -ms-autohiding-scrollbar;
            width: 200px;
        }

        .sidebar nav {
            width: 200px;
            -ms-flex-direction: column;
            flex-direction: column;
            min-height: 100%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }

        .sidebar .nav-item {
            position: relative;
            margin: 0;
            transition: background .3s ease-in-out;
        }

        .sidebar .nav-link {
            display: block;
            padding: 0.75rem 1rem;
            color: #fff;
            text-decoration: none;
            background: transparent;
        }

        .sidebar .nav-title {
            padding: 0.75rem 1rem;
            font-size: 11px;
            font-weight: 600;
            color: #c2cfd6;
            text-transform: uppercase;
        }

        .sidebar .nav-link:hover, .sidebar .nav-link:active, .sidebar .nav-link.active {
            color: #fff;
            background: #20a8d8;
        }


    .navbar-top li a {
        color: black !important;
    }


@media(max-width: 991px) {
    .navbar-brand {
        padding-top: 5px !important;
    }
}
.navbar-collapse {
    background-color: @color-white;
}
