﻿@import "variables.less.css";
body {
	background-color: #ffffff;
}
h3 {
	color: @color-primary !important;
}
.panel.panel-list {
	margin-top: 0 !important;
	padding-top: 0 !important;
	padding: 0 !important;
}

.panel-list .list-row > li {
  border-bottom: 1px solid @color-stroke !important;
}

.report-printing h1, .report-printing h2, .report-printing h3 {
  margin:5px;
  margin-left: 0;
}

.hidden-print {
	display:none !important;
}

input[type=checkbox] {
	display:none !important;
}
