﻿
@blue: #428bca; /*ECEDF8*/
@green: #449d44;
@red: #a94442;

@border-radius-default: 2px;

@color-body-bg: #eeeeee;
@color-content-bg: #f5f5f5;

@color-primary: @color-navbar-bg;
@color-success: #44b039; /*#2c871e; */ /*#62cb31*/
@color-info: #3985b0; /*#3498db;*/
@color-warning: #bd7f32; /*#e67e22;*/
@color-danger: #b03939; /*#e74c3c;*/
@color-navbar-bg: #33414e;

@color-grey-light: #bbbbbb;
@color-grey-lighter: #888888;
@color-grey-medium: #777777;
@color-grey-darker: #555555;
@color-grey-dark: #333333;

@color-stroke: #ddd;
@color-white: #fff;
@color-black: #000;
@color-heading: #444444;
@color-text: @color-heading;
@color-red: @color-danger; /* alias */
@color-spinner-red: #c22;

@color-font-default: darken(#536c79, 10%);
@color-menu-sidebar: #29363D;

@font-size-default: 14px;

@font-size-heading-1: 24px;
@font-size-heading-2: 21px;
@font-size-heading-3: 18px;
@font-size-heading-4: 16px;
@font-size-heading-5: 15px;
@font-family: "Open Sans";



@padding-default: 15px;
/*@padding-small: 10px;*/