﻿/*https://wrapbootstrap.com/theme/kanzi-multi-purpose-template-WB08808B5*/
/*http://wrapbootstrap.com/preview/WB0147KKK*/
/*https://wrapbootstrap.com/theme/homer-responsive-admin-theme-WB055J451*/
/*http://wrapbootstrap.com/preview/WB055J451*/
/*http://wrapbootstrap.com/preview/WB02DSN1B*/
@import "variables.less.css";

@font-face {
    font-family: Code39AzaleaFont;
    src: url('/assets/fonts/Code39Azalea.eot') format('embedded-opentype'), 
        url('/assets/fonts/Code39Azalea.woff') format('woff'), 
        url('/assets/fonts/Code39Azalea.ttf') format('truetype'), 
        url('/assets/fonts/Code39Azalea.svg#Code39Azalea') format('svg');
    font-weight: normal;
    font-style: normal
}

.barcode {
    font-family: Code39AzaleaFont;
    /*'Libre Barcode 39 Text', cursive;*/
    font-size: 40px;
}


/* vertical scroll bars always visible */

html {
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
    text-rendering: optimizelegibility !important;
    background-color: @color-content-bg;
    overflow-y: scroll;
    font-size: 14px; /*root*/
    /*height: 100%;*/
    background-color: #eeeeee;
}

body {
    font-family: @font-family;
    background-color: #eeeeee;
    color: @color-font-default;
    padding-bottom: 0 !important;
    font-size: @font-size-default;
    text-rendering: optimizelegibility !important;
    min-height: 100%;
}
.content-wrapper-main { /* to prevent footer clinging to bottom content toooooo tighlight */
    width: 100%;
    padding: @padding-default;
}

a {
    color: #333333;
}

img {
    max-width: 100%;
}

textarea.autosize {
    max-height: 200px;
}

.italic {
    font-style: italic;
}

.font-smaller {
    font-size: @font-size-default - 3;
}

.hover-highlight:hover {
    background-color: @color-body-bg;
}

.alert-info-discreet {
    border-color: lighten(@color-info, 40%);
    color: lighten(@color-info, 10%);
    background-color: lighten(@color-info, 50%);
}

.alert-default {
    border-color: @color-stroke;
    color: @color-grey-darker;
    background-color: lighten(@color-grey-light, 22%);
}

.btn-margin {
    margin: 0 5px 5px 0;
}

a.btn-danger, a.btn-success {
    color: @color-white !important;
}

a.btn-warning {
    color: @color-font-default !important;
}

/* the navbar gear open menu */
.navbar-default .navbar-nav > .open > a {
    background-color: @color-stroke !important;
}
.btn-info {
    color: @color-white !important;
}
.btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.btn-social {
    overflow: hidden;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.color-white {
    color: @color-white;
}
.wrap-long-words {
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* Adds a hyphen where the word breaks */
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.no-wrap {
    white-space: nowrap;
}


@media(max-width:767px) {
    .row-space-xs {
        margin-bottom: @padding-default;
    }
}

input, textarea, select {
    font-size: 14px !important;
}

.margin-right {
    margin-right: @padding-default;
}

.no-margin, .nomarg {
    margin: 0 !important;
}

.no-padding, .nopad {
    padding: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

table.middle td {
    vertical-align: middle !important;
}

tr.bg-success td {
    color: @color-white;
}

/* <bootstrap buttons inline confirm> */
.btn.inline-confirm.inline-default {
    border-left: 3px solid #ccc;
}

.btn.inline-confirm.inline-success {
    border-left: 3px solid #4cae4c;
}

.btn.inline-confirm.inline-danger {
    border-left: 3px solid #d43f3a;
}

.btn.inline-confirm.inline-primary {
    border-left: 3px solid #2e6da4;
}
/* </bootstrap buttons inline confirm> */

.opa50 {
    opacity: 0.5;
}

.content-wrapper-inner {
    padding: @padding-default;
}
/* < content header> */

.content-header h1 {
    margin: 0;
}

.content-header {
    padding: 25px 15px;
    background-color: @color-white;
    border-bottom: 1px solid @color-stroke;
}

    .content-header .row {
        margin: 0;
    }

        .content-header .row > div {
            padding: 0;
        }

.content-header-sub, .content-header-sub a {
    color: @color-grey-lighter;
    text-transform: uppercase;
}

@media(max-width:767px) {
    .content-header-right {
        margin-top: @padding-default;
    }

    .content-header {
        padding: @padding-default;
    }

        .content-header h1 {
            font-size: @font-size-heading-3;
        }

    .content-header-right:empty {
        display: none;
    }
}
/* </ content header> */


/*.collapse-top {
  display:block;
  width: 100% !important;
}*/
@media(min-width: 992px) {
    .row {
        margin-bottom: @padding-default;
    }
}

@media(min-width: 768px) {
    footer .row {
        margin-bottom: 0;
    }
}

hr.divider {
    background-color: @color-navbar-bg;
    border-color: lighten(@color-grey-light, 12%);
    margin-top: @padding-default * 2;
}

@media (max-width: 767px) {
    hr.divider {
        /*margin-top: @padding-default * 3;*/
    }
}

footer {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: @color-navbar-bg;
    color: white;
    padding: @padding-default;
}

    footer div {
        line-height: 30px;
    }

.field-validation-error {
    color: @color-danger;
    display: inline-block;
}

.input-validation-error {
    border-color: @color-danger !important;
}

.default-button-close-xs {
    display: inline-block !important; /* fix second icon in save/close button */
}

@media (max-width:767px) {
    .control-label {
        margin-top: @padding-default;
    }

    footer {
        text-align: center;
    }

    .content-wrapper-main { /* to prevent footer clinging to bottom content toooooo tighlight */
        margin-bottom: 100px;
    }
}

@media (min-width:768px) {
    html, body {
        padding-bottom: 20px;
    }

    /*footer {
		height: 30px;
	}*/
}

label {
    font-family: @font-family;
    font-weight: 600 !important;
}

.navbar {
    background-color: @color-navbar-bg;
    border-color: darken(@color-navbar-bg, 10%);
    color: #eeeeee;
    border-bottom-width: 0;
}

.active-menu-item {
    -moz-box-shadow: inset 0px -5px 0px darken(@color-white, 20%); /*FF 3.5+*/
    -webkit-box-shadow: inset 0px -5px 0px darken(@color-white, 20%); /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: inset 0px -5px 0px darken(@color-white, 20%); /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.hidden {
    display: none !important;
}

.notvisible {
    display: none;
}

.tight-top {
    margin-top: 0;
    padding-top: 0;
}

.tight-bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

/*@media (max-width:767px) {
    h1, h2, h3, h4, h5 {
        margin-top: 40px;
    }
}*/

h1, h2, h3, h4, h5 {
    color: @color-heading;
    font-weight: 500;
}

h1 {
    font-size: @font-size-heading-1;
}

.underline {
    border-bottom: 1px solid @color-heading !important;
}

h2 {
    font-size: @font-size-heading-1 - 2;
}

h3 {
    font-size: @font-size-heading-1 - 4;
}
/* the 'hand' cursor */
a.link {
    color: lighten(@color-primary, 20%);
}

.main-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0;
    background-color: @color-content-bg;
    margin-top: 56px;
}

    .main-wrapper .main {
        -ms-flex: 1;
        flex: 1;
        min-width: 0;
        padding: @padding-default;
    }

        .main-wrapper .main.sidebar-visible {
            margin-left: 200px;
        }

.link {
    cursor: pointer;
}

    .link.plain {
        text-decoration: none !important;
    }

.link-u:hover { /* just something to force underline */
    text-decoration: underline;
}

.link-force {
    text-decoration: underline;
}

/* located here to overwrite default .link-color */
.green, a.green {
    color: @green;
}

.red {
    color: @color-spinner-red;
}

tr.link td.noclickurl {
    cursor: default;
}

/* space to the right of font awesome icons */
.fa-space, .fa-margin {
    margin-right: 5px;
}

.fa-space-left, .fa-margin-left {
    margin-left: 5px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

table.table-no-edge-padding tr td:first-child {
    padding-left: 0;
}

table.table-no-edge-padding tr td:last-child {
    padding-right: 0;
}
/* <bootstrap text align> */
@media (min-width:768px) {
    .text-right-sm-up {
        text-align: right;
    }

    .row.no-margin-sm-up {
        margin-bottom: 0;
    }
}

#globalInlineHelpTrigger {
    font-size: 20px;
    position: absolute;
    right: 0;
}

@media(max-width:767px) {
    .form-group-sm {
        margin-bottom: @padding-default;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .form-group-md {
        margin-bottom: @padding-default;
    }
}

@media(min-width:992px) {
    .form-group-lg {
        margin-bottom: @padding-default;
    }
}
/* </bootstrap text align> */

/* inline-help trigger icon (fa)*/
i.inline-help {
    color: @color-success;
    cursor: pointer;
}

.inline-help-icon:before {
    font-family: 'FontAwesome';
    content: '\f05a'; /* f0c1*/
    color: @green;
    /*color: rgba(49,112,143,1);
	color: @red;*/
    font-style: normal;
    font-size: 20px;
    /*margin-left: @padding-default;*/
}

div.inline-help {
    margin: 10px 0;
    font-size: 1.1em;
    /* <from .alert-info> */
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    border: 1px solid transparent;
    /*border-radius: 0;*/
    margin-bottom: 20px;
    padding: 15px;
    /* </from .alert-info> */
}

div.spacer {
    height: @padding-default;
}

div.spacer-sm {
    height: @padding-default / 2;
}

div.spacer-xs {
    height: 4px;
}

div.spacer-label-fill { /* for aligning checkboxes with textboxes in horizontal forms*/
    height: 25px;
}

label.required {
    color: @color-danger;
}

    label.required::after {
        content: ' *';
        margin-left: 1px;
        color: @color-danger;
    }

/* <validation> */
.validation-summary-errors {
    background-color: lighten(@red, 48%);
    color: @red;
    border: 1px solid @red;
    padding-top: 10px;
    margin-bottom: @padding-default;
}

    .validation-summary-errors > ul { /* centering */
        margin-top: 4px;
    }
/* </validation> */

/* <show ok> */
#osd {
    position: absolute;
    top: -5em;
    left: 50%;
    margin-left: -4.2em;
    width: 9em;
    color: #ffffff;
    font-size: 1em;
    text-align: center;
    z-index: 9010;
    padding: .4em .2em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    -khtml-border-radius: 1em;
    border-radius: 1em;
    background-color: @green;
    opacity: 0;
}

    #osd.error {
        background-color: @red;
    }
/* </show ok> */



/* <panel lists - index pages> */

.panel, .panel-body, .pnl {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-list {
    padding: 15px;
    margin-top: 15px;
    display: table;
    width: 100%;
}

.pnl .panel-body .panel-list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.panel-list ul.list-row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table-row;
    width: 100%;
    table-layout: fixed;
    cursor: pointer;
}

    .panel-list ul.list-row:last-child {
        border-bottom: 0;
    }

.panel-list ul.list-row-header {
    padding: 5px;
    padding-bottom: 10px !important;
}

.panel-list .list-row-header li {
    font-weight: 700;
    color: @color-grey-lighter;
    border-bottom: 0px solid #bebebe;
}

.panel-list .list-row:not(.list-row-header):hover {
    color: black;
    background-color: fade(@color-grey-lighter, 20%);
}

.list-row .list-row-arrow-link {
    text-align: right;
    width: 50px;
}

.panel-list .list-row .list-row-arrow-link a {
    text-decoration: none !important;
}

    .panel-list .list-row .list-row-arrow-link a:hover:after {
        color: #be5709;
    }

    .panel-list .list-row .list-row-arrow-link a:after {
        font-family: 'fontawesome';
        content: '\f061';
        color: #f47b20;
    }

.panel-list .list-row > li {
    min-width: 50px;
    padding-right: 15px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid @color-stroke;
    margin-top: 0px !important;
    padding: 8px 5px !important;
}

.panel-list.panel-list-compact .list-row > li {
    padding: 1px 3px !important;
}

.panel-list .list-row > li:first-child {
    padding-left: 0 !important;
}

.panel-list .list-row > li:last-child {
    padding-right: 0 !important;
}

.panel.panel-list > ul.list-row:last-child li {
    border-bottom: 0;
}

.panel-list .list-row .help-block {
    display: block !important;
    clear: both !important;
}
/* </ panel lists - index pages> */

/* <panels> */

@media(min-width:768px) {
    .panel-body .h1 > div {
        float: right !important;
    }
}


.panel-heading {
    color: inherit;
    font-weight: 600;
    padding: 10px 0px;
    border: 1px solid transparent;
    margin-top: 0;
}

.panel-heading {
    border-bottom: none;
}

.pnl > .panel-footer, .pnl > .panel-section {
    color: inherit;
    border: 1px solid @color-stroke;
    border-top: none;
    font-size: 90%;
    background: @color-white;
    padding: 10px 15px;
}

.pnl.panel-collapse > .panel-heading, .pnl .hbuilt {
    background: #fff;
    border-color: @color-stroke;
    border: 1px solid @color-stroke;
    padding: 10px 10px;
    border-radius: 2px;
}

.pnl .panel-body {
    background: #fff;
    border: 1px solid @color-stroke;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}


.pnl.panel-group .panel-body:first-child {
    border-top: 1px solid @color-stroke;
}

.pnl.panel-group .panel-body {
    border-top: none;
}

.pnl {
    margin-bottom: @padding-default;
}

.panel-body h1, .panel-body .h1 {
    font-weight: 200;
    font-size: 2rem;
}

.page-header .row, .page-header div[class^='col'] {
    padding: 0;
    margin: 0;
}

.page-header .h1 {
    margin-bottom: 0 !important;
}

.panel-body .h1 .h1-sub {
    /*display: block;*/
    font-size: 1rem;
    color: @color-grey-medium;
}

@media(max-width:767px) {
    .page-header div[class^='col'].header-right {
        margin-top: @padding-default;
    }
}

@media(min-width: 768px) {
    .panel-body h1, .panel-body .h1 {
        /*margin: 10px 0;*/
    }

    .page-header .panel-body > .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .page-header .panel-body > .row > div[class^='col'] {
        }
}

/* </panels> */
/* <bootstraping> */

.modal-dialog {
    z-index: 1041;
}

.modal-backdrop {
    background-color: @color-grey-lighter;
}

.btn.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn.btn-primary {
    background-color: @color-primary;
    border-color: darken(spin(@color-primary, -10), 5%);
    color: @color-white;
}

a.btn-primary {
    color: @color-white !important;
}

.btn.btn-primary:hover {
    background-color: darken(@color-primary, 10%);
    border-color: darken(spin(@color-primary, -10), 10%);
}

.btn.btn-success {
    background-color: @color-success;
    border-color: darken(spin(@color-success, -10), 5%);
}

    .btn.btn-success:hover {
        background-color: darken(@color-success, 10%);
        border-color: darken(spin(@color-success, -10), 10%);
    }

.btn-outline-primary {
    border-color: @color-primary;
    color: @color-primary;
}
.btn-outline-primary:hover , .btn-outline-primary:active {
    border-color: darken(@color-primary, 10%) !important;
    background-color: @color-primary !important;
    color: @color-white;
}
.btn-outline-info:hover {
    color: @color-white !important;
}
.nav-tabs > li {
    margin-bottom: -2px !important; /* fix for bottom colored border */
}

    .nav-tabs > li a {
        color: @color-grey-medium;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border-color: transparent;
        border-bottom: 1px solid @color-primary;
        color: @color-primary;
    }

.nav-link.active.show {
    position: relative;
    z-index: 1040;
}

/* drop margin for labels inside input-group-addons */
.input-group-addon label {
    margin: 0;
}

/* </bootstraping> */

.badge {
    font-size: 12px;
    border-radius: 19px;
    line-height: 12px;
    width: 28px;
    color: white;
    display: inline-block;
    text-align: center;
    background-color: @color-success !important;
    border: 1px solid @color-success;
}

    .badge.dimmed {
        font-size: 12px;
        border-radius: 19px;
        line-height: 12px;
        width: 28px;
        background-color: @color-white !important;
        border: 1px solid @color-grey-light;
        color: black !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
    }

.badge-project-owner, .badge-project-admin {
    width: auto;
    /*background-color: lighten(@color-success, 30%) !important;*/
    background-color: transparent !important;
    color: @color-black;
    border-color: @color-success;
}

.badge-project-admin {
    /*background-color: lighten(@color-info, 30%) !important;*/
    background-color: transparent !important;
    border-color: @color-info;
}

.dimmed {
    color: @color-grey-lighter;
}

.fp90 {
    font-size: 90%;
}

.fp80 {
    font-size: 80%;
}


/* <vertical aligned columns> */
/*
use: 
	<div class="row v-center-md">
		<div class="col-sm-4">
		</div>
	</div>
*/
.v-center {
    display: table;
    width: 100%;
    /*table-layout: fixed !important;*/
}

    .v-center > div {
        display: table-cell;
        vertical-align: middle;
        float: none;
    }


/*<sm only>*/
@media(min-width:768px) and (max-width:991px) {
}
/*</sm only>*/
@media(max-width:767px) { /* XS and down */
    .v-center-xs {
        display: table;
        width: 100%;
        /*table-layout: fixed !important;*/
    }

        .v-center-xs > div {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
}

@media(min-width:768px) { /* SM and up */
    .v-center-sm {
        display: table;
        width: 100%;
        /*table-layout: fixed !important;*/
    }

        .v-center-sm > div {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }

    .col-margin-right {
        margin-right: 1px;
    }
}

@media(min-width:992px) { /* MD and up */
    .v-center-md {
        display: table;
        width: 100%;
        /*table-layout: fixed !important;*/
    }

        .v-center-md > div {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
}

@media(min-width:1200px) { /* LG and up */
    .v-center-lg {
        display: table;
        width: 100%;
        /*table-layout: fixed !important;*/
    }

        .v-center-lg > div {
            display: table-cell;
            vertical-align: middle;
            float: none;
        }
}

/* < /vertical aligned columns> */


/* <spinner> */
.offscreen {
    top: -50% !important;
}
/*
.spinner-circle {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 90000;
}

	.spinner-circle > div {
		content: "";
		display: inline-block;
		width: 0;
		height: 0;
		border: solid 30px;
		border-radius: 5em;
		border-color: #0099ff transparent #0099ff transparent;
		animation: spin 1s linear infinite;
	}
	*/
.dot:before, .dot:after {
    content: ".";
}

.dot {
    animation: fade 1s linear infinite;
}

    .dot:after {
        animation: fade 2s linear infinite;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.spinner-twirl {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 90000;
    margin-left: -24px;
    margin-top: -24px;
}

.loading {
    box-sizing: border-box;
    display: inline-block;
    padding: 0.5em;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    border: 5px solid transparent;
    border-top-color: @color-spinner-red;
    border-bottom-color: @color-spinner-red;
    border-radius: 50%;
}

.outer {
    animation: spin 1s infinite;
}

.spinner-twirl .loading .inner {
    animation: spin 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

/* </spinner> */

table tr.tr-child-line td {
    font-size: 0.8em;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: darken(@color-white, 4%);
    border-top: 1px solid darken(@color-white, 15%);
    border-bottom: 1px solid darken(@color-white, 15%);
}

.modal {
    z-index: 9005;
}

.modal-backdrop {
    z-index: 9004;
}

.related-item {
    background-color: lighten(@color-stroke, 15%);
    border: 1px solid @color-stroke;
    margin-bottom: .5rem;
}

.input-loading {
    background-color: #65b0e9 !important;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #ffffff !important;
    height: 100%;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent) !important;
    background-size: 40px 40px !important;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes !important;
}

.tab-content {
    padding: @padding-default;
    background: #fff;
    border: 1px solid @color-stroke;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

.inline-success {
    border: 3px solid @color-success;
    border-color: @color-success !important;
}
.inline-danger {
    border-left: 3px solid @color-danger;
    border-left-color: @color-danger !important;
}

@import "waAssembly.max-991.less.css";
@import "waAssembly.max-767.less.css";
@import "waAssembly.max-576.less.css";