﻿@model API.Data.Models.DashboardModel
@{
    ViewBag.Title = "Dashboard";
    ViewBag.LayoutFluid = true;
}

@{
    int chartTotal = Model.ChartSecsTotal;
    int WSchartTotal = Model.WSChartSecsTotal;
    var percentageMontage = Model.ChartSecsMounting.PercentageOf(chartTotal);
    var WSpercentageMontage = Model.WSChartSecsMounting.PercentageOf(WSchartTotal);
    var workstation = (new API.Data.DAL()).WorkstationGetSingle(CurrentWorkstationID ?? 0);
}

@if (1 == 2 && (CurrentUser?.IsAdmin ?? false))
{
    using (Html.BeginForm("Dashboard", "Home", FormMethod.Get))
    {

        <div>
            date _from
            <input type="date" name="DateFrom" class="form-control" value="@DateTime.Now.ToDefString()" />
        </div>
        <div>
            date _to
            <input type="date" name="DateTo" class="form-control" value="@DateTime.Now.ToDefString()" />
        </div>
        <button type="submit">Hent data</button>
    }
}

<div class="row mb-0">
    <div class="col-6 pr-2">
        <div class="pnl">
            <h2>@CurrentUser.Name</h2>
            <div class="panel-body">
                <div class="row">
                    <div class="col-6">
                        <div id="chartNormUser" style="height:250px;"></div>
                    </div>
                    <div class="col-6">
                        <div id="chartOrderUser" style="height:250px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pnl mb-0">
            <div class="panel-body">
                <div class="row">
                    <div class="col-6">
                        <div id="chartProductivity" style="height:250px;"></div>
                    </div>
                    <div class="col-6">
                        <div id="chartPerformanceUser" style="height:250px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 pl-2">
        <div class="pnl">
            <h2>Hele montageafdelingen</h2>
            <div class="panel-body">
                <div class="row">
                    <div class="col-6">
                        <div id="chartNormWorkstation" style="height:250px;"></div>
                    </div>
                    <div class="col-6">
                        <div id="chartOrderWorkstation" style="height:250px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pnl mb-0">
            <div class="panel-body">
                <div class="row">
                    <div class="col-6">
                        <div id="chartProductivityWorkstation" style="height:250px;"></div>
                    </div>
                    <div class="col-6">
                        <div id="chartPerformanceWorkstation" style="height:250px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(chartsGoGo);

        function chartsGoGo() {
            // pie chart, montør
            drawChartPie();
            // normgraf (øverst til venstre), montør
            drawChartNorms();
            // søjlediagram (øverst til venstre), montør
            drawChartOrders();
            // produktivitetsgraf, (nederst til venstre), montør
            drawChartProductivity();

            // hele montageafdelingen
            drawChartPieWorkstation();
            drawChartNormsWorkstation();
            // søjlediagram (øverst til højre), afd
            drawChartOrdersWorkstation();
            drawChartProductivityWorkstation();
        }

        function drawChartPie() {

            var data = google.visualization.arrayToDataTable([
                ['Performance', 'Fordeling'],
                ['Montage @percentageMontage.ToString("N2")%', @percentageMontage.ToString("N2").Replace(",", ".")],
                ['Ophold @Model.ChartSecsPause.PercentageOf(chartTotal).ToString("N2")%', @Model.ChartSecsPause.PercentageOf(chartTotal).ToString("N2").Replace(",", ".")],
                ['Andet @Model.ChartSecsWaste.PercentageOf(chartTotal).ToString("N2")%', @Model.ChartSecsWaste.PercentageOf(chartTotal).ToString("N2").Replace(",", ".")]
            ]);

            var options = {
                title: '',
                legend: { position: 'bottom' },
                chartArea: { width: '85%', height: '85%' }
            };

            var chart = new google.visualization.PieChart(document.getElementById('chartPerformanceUser'));

            chart.draw(data, options);
        }

        function drawChartNorms() {
            @{
                string drawChartNormsData = "";
                foreach (var key in Model.NormCountsDic.Keys.OrderBy(m => m)) {
                    var keyDate = Convert.ToDateTime(key);
                    drawChartNormsData += $"['{keyDate.ToString("ddd").Capitalize()}', {Model.NormCountsDic[key].ToString("N2").Replace(System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberGroupSeparator, "").Replace(",", ".")}],";
                }
                if (drawChartNormsData.EndsWith(",")) {
                    drawChartNormsData = drawChartNormsData.StripFromEnd(",");
                }

                if (string.IsNullOrEmpty(drawChartNormsData)) {
                    drawChartNormsData = "['2018-12-31', 0]";
                }
            }
            var data = google.visualization.arrayToDataTable([
                ['Date', 'Normer'],
                @Html.Raw(drawChartNormsData)
            ]);

            var options = {
                title: 'Normer',
                chartArea: { width: '85%', height: '75%' },
                legend: {
                    position: 'top'
                },
                curveType: 'function',
                pointSize: 10,
                vAxis: {
                    format: 'decimal',
                    viewWindow: {
                        min: 0
                    }
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chartNormUser'));
            chart.draw(data, options);
        }

        function drawChartOrders() {
            @{
                string drawChartOrdresData = "";
                foreach (var key in Model.OrderChartDic.Keys.OrderBy(m => m)) {
                    var keyDate = Convert.ToDateTime(key);
                    string completed = Model.OrderChartDic[key].OrdersCompleted.ToString("N2").Replace(",", ".");
                    string repaired = Model.OrderChartDic[key].OrdersRepaired.ToString("N2").Replace(",", ".");
                    string discarded = Model.OrderChartDic[key].OrdersDiscarded.ToString("N2").Replace(",", ".");

                    drawChartOrdresData += $"['{keyDate.ToString("ddd").Capitalize()}', "
                    + $"{completed},"
                    + $"'{(completed == "0.00" ? "" : completed.Substring(0, completed.LastIndexOf(".")))}',"

                    + $"{repaired},"

                    + $"{discarded}"
                    + "],";
                }
                if (drawChartOrdresData.EndsWith(",")) {
                    drawChartOrdresData = drawChartOrdresData.StripFromEnd(",");
                }

                if (string.IsNullOrEmpty(drawChartOrdresData)) {
                    //drawChartOrdresData = "['2018-12-31',0, 0, 0]";
                    drawChartOrdresData = "['2018-12-31',0, 0, 0, 0]";
                }
            }
            var data = google.visualization.arrayToDataTable([
                ['Date', 'Reoler', { role: 'annotation' }, 'Reparationer', /*{ role: 'annotation' },*/ 'Kasseringer'/*, { role: 'annotation' }*/],
                @Html.Raw(drawChartOrdresData)
            ]);

            var options = {
                title: 'Montage',
                chartArea: { width: '85%', height: '75%' },
                legend: { position: 'top', maxLines: 2 },
                isStacked: true,
                //vAxis: {
                //    //format: 'E',
                //    ticks: ticks
                //}
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chartOrderUser'));
            chart.draw(data, options);
        }

        function drawChartProductivity() {
            @{
                string drawChartProductivity = "";
                foreach (var key in Model.ProductivityLoggedInDic.Keys.OrderBy(m => m)) {
                    var dicItem = Model.ProductivityLoggedInDic[key];
                    var keyDate = Convert.ToDateTime(key);
                    var hours = dicItem / 60 / 60;
                    var norms = (Model.NormCountsDic.ContainsKey(key) ? Model.NormCountsDic[key] : 0);
                    var ductivity = norms / hours;

                    drawChartProductivity += "['" + keyDate.ToString("ddd").Capitalize() + "', "
                                + ductivity.ToString("N2").Replace(System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberGroupSeparator, "").Replace(",", ".")
                                + "],";

                    //drawChartProductivity += "['" + keyDate.ToString("ddd").Capitalize() + "', "
                    //            + ((int)dicItem.Norms).PercentageOf(dicItem.TimeLoggedIn).ToString("N0") + ""
                    //            + "],";
                }
                if (drawChartProductivity.EndsWith(",")) {
                    drawChartProductivity = drawChartProductivity.StripFromEnd(",");
                }

                if (string.IsNullOrEmpty(drawChartNormsData)) {
                    drawChartProductivity = "['2018-12-31', 0]";
                }
            }
            var data = google.visualization.arrayToDataTable([
                ['Date', 'Normer pr. time'],
                @Html.Raw(drawChartProductivity)
            ]);

            var options = {
                title: 'Produktivitet, normer pr. time',
                chartArea: { width: '85%', height: '75%' },
                legend: 'none',
                curveType: 'function',
                pointSize: 10,
                vAxis: {
                    format: 'decimal',
                    viewWindow: {
                        min: 0
                    }
                }
            };

             var chart = new google.visualization.LineChart(document.getElementById('chartProductivity'));
            chart.draw(data, options);
        }

















        function drawChartPieWorkstation() {

            var data = google.visualization.arrayToDataTable([
                ['Performance', 'Fordeling'],
                ['Montage @WSpercentageMontage.ToString("N2")%', @WSpercentageMontage.ToString("N2").Replace(",", ".")],
                ['Ophold @Model.WSChartSecsPause.PercentageOf(WSchartTotal).ToString("N2")%', @Model.WSChartSecsPause.PercentageOf(WSchartTotal).ToString("N2").Replace(",", ".")],
                ['Andet @Model.WSChartSecsWaste.PercentageOf(WSchartTotal).ToString("N2")%', @Model.WSChartSecsWaste.PercentageOf(WSchartTotal).ToString("N2").Replace(",", ".")]
            ]);

            var options = {
                title: '',
                legend: { position: 'bottom' },
                chartArea: { width: '85%', height: '85%' }
            };

            var chart = new google.visualization.PieChart(document.getElementById('chartPerformanceWorkstation'));

            chart.draw(data, options);
        }

        function drawChartNormsWorkstation() {
            @{
                string drawChartNormsDataWs = "";
                foreach (var key in Model.WSNormCountsDic.Keys.OrderBy(m => m)) {
                    var keyDate = Convert.ToDateTime(key);
                    drawChartNormsDataWs += $"['{keyDate.ToString("ddd").Capitalize()}', {Model.WSNormCountsDic[key].ToString("N2").Replace(System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberGroupSeparator, "").Replace(",", ".")}, {Model.WSNormTarget}],";
                }
                if (drawChartNormsDataWs.EndsWith(",")) {
                    drawChartNormsDataWs = drawChartNormsDataWs.StripFromEnd(",");
                }

                if (string.IsNullOrEmpty(drawChartNormsDataWs)) {
                    drawChartNormsDataWs = "[0, 0, 0]";
                }
            }
            var data = google.visualization.arrayToDataTable([
                ['Date', 'Normer', 'Mål'],
                @Html.Raw(drawChartNormsDataWs)
            ]);

            var options = {
                title: 'Normer',
                chartArea: { width: '85%', height: '75%' },
                legend: {
                    position: 'top'
                },
                curveType: 'function',
                series: {
                    0: { pointShape: 'circle', pointSize: 10 },
                    1: { pointShape: 'square', pointSize: 3 }
                },
                vAxis: {
                    viewWindow: {
                        min: 0
                    }
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chartNormWorkstation'));
            chart.draw(data, options);
        }

        function drawChartOrdersWorkstation() {
            @{
                string drawChartOrdresDataWs = "";
                foreach (var key in Model.WSOrderChartDic.Keys.OrderBy(m => m)) {
                    var keyDate = Convert.ToDateTime(key);
                    string completed = Model.WSOrderChartDic[key].OrdersCompleted.ToString("N2").Replace(",", ".");
                    string repaired = Model.WSOrderChartDic[key].OrdersRepaired.ToString("N2").Replace(",", ".");
                    string discarded = Model.WSOrderChartDic[key].OrdersDiscarded.ToString("N2").Replace(",", ".");

                    drawChartOrdresDataWs += Environment.NewLine + "//" + keyDate.ToString() + Environment.NewLine + $"['{keyDate.ToString("ddd").Capitalize()}', "
                                //drawChartOrdresDataWs += $"[new Date({key.Year},{key.Month-1},{key.Day}), "
                                + $"{completed},"
                                + $"'{(completed == "0.00" ? "" : completed.Substring(0, completed.LastIndexOf(".")))}',"

                                + $"{repaired},"
                                //+ $"'{(repaired == "0.00" ? "" : repaired.Substring(0, repaired.LastIndexOf(".")))}',"

                                + $"{discarded}"
                                //+ $"'{(discarded == "0.00" ? "" : discarded.Substring(0, discarded.LastIndexOf(".")))}'"
                                + "],";
                }
                if (drawChartOrdresDataWs.EndsWith(",")) {
                    drawChartOrdresDataWs = drawChartOrdresDataWs.StripFromEnd(",");
                }

                if (string.IsNullOrEmpty(drawChartOrdresDataWs)) {
                    //drawChartOrdresDataWs = "['2018-12-31',0, 0, 0]";
                    drawChartOrdresDataWs = "[new Date(2018, 11, 31),0, 0, 0]";
                }
            }
            var data = google.visualization.arrayToDataTable([
                ['Date', 'Reoler', { role: 'annotation' }, 'Reparationer', /*{ role: 'annotation' },*/ 'Kasseringer'/*, { role: 'annotation' }*/],
                @Html.Raw(drawChartOrdresDataWs)
            ]);

            var options = {
                title: 'Montage',
                chartArea: { width: '85%', height: '75%' },
                legend: { position: 'top', maxLines: 2 },
                isStacked: true,
                //vAxis: {
                //    //format: 'E',
                //    ticks: ticks
                //}
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chartOrderWorkstation'));
            chart.draw(data, options);
        }

         function drawChartProductivityWorkstation() {
            @{
                string drawChartProductivityWSData = "";
                foreach (var key in Model.WSProductivityLoggedInDic.Keys.OrderBy(m => m)) {
                    var dicItem = Model.WSProductivityLoggedInDic[key];
                    var keyDate = Convert.ToDateTime(key);
                    var hours = dicItem / 60 / 60;
                    var norms = (Model.WSNormCountsDic.ContainsKey(key) ? Model.WSNormCountsDic[key] : 0);
                    var ductivity = norms / hours;

                    drawChartProductivityWSData += "['" + keyDate.ToString("ddd").Capitalize() + "', "
                                             + ductivity.ToString("N2").Replace(System.Threading.Thread.CurrentThread.CurrentCulture.NumberFormat.NumberGroupSeparator, "").Replace(",", ".")
                                            + "],";
                }
                if (drawChartProductivityWSData.EndsWith(",")) {
                    drawChartProductivityWSData = drawChartProductivityWSData.StripFromEnd(",");
                }

                if (string.IsNullOrEmpty(drawChartNormsData)) {
                    drawChartProductivityWSData = "['2018-12-31', 0]";
                }
            }
            var data = google.visualization.arrayToDataTable([
                ['Date', 'Normer pr. time'],
                @Html.Raw(drawChartProductivityWSData)
            ]);

            var options = {
                title: 'Produktivitet, normer pr. time',
                chartArea: { width: '85%', height: '75%' },
                legend: 'none',
                curveType: 'function',
                pointSize: 10,
                vAxis: {
                    format: 'decimal',
                    viewWindow: {
                        min: 0
                    }
                }
            };

             var chart = new google.visualization.LineChart(document.getElementById('chartProductivityWorkstation'));
            chart.draw(data, options);
        }
    </script>

}