﻿@model API.Data.Models.StatusCodeEditModel
@{
    ViewBag.Title = Html.T(TKeys.statusCode);
}

@section headerLeft {
    @ViewBag.Title
    <span class="h1-sub"></span>
}

@section headerRight {
    <div>
        <a href="@Url.Action("Index")" class="btn btn-sm btn-default ays-cancel"><i class="fa fa-arrow-left fa-space"></i>@Html.T("back")</a>
    </div>
}

<div class="pnl">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-group focus">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.StatusCodeTypeID)
                <select class="form-control" name="@Html.NameFor(m => m.StatusCodeTypeID)">
                    <option value="">@Html.T("choose")</option>
                    @foreach (var option in Model.AvailableCodeTypes) {
                        <option value="@option.ID">@option.Name</option>
                    }
                </select>
            </div>

            @Html.Partial("_buttonsRow", new waAssembly.Models.ButtonsModel() { OmitButtonNumber = 1 }, new ViewDataDictionary())
        }
    </div>
</div>

@section scripts {

}