﻿@model List<API.Data.Part>
@{
}

@if (Model == null || !Model.Any())
{
    <div class="alert alert-danger">
        @Html.T("nodata")
    </div>
}
else
{
    <div class="panel panel-list">
        <ul class="list-row list-row-header">
            <li data-indexsearcher-order="ID">ID</li>
            <li data-indexsearcher-order="Name">@Html.T("name")</li>
            <li data-indexsearcher-order="PartCategory.Name">@Html.T("partCategory")</li>
            <li data-indexsearcher-order="Barcode.Name">@Html.T("barcode")</li>
        </ul>

        @foreach (var item in Model)
        {
            <ul class="list-row" data-clickurl="@Url.Action("Edit", new { ID = item.ID })">
                <li>
                    @item.ID
                </li>
                <li>
                    <a href="@Url.Action("Edit", new { ID = item.ID })">@item.Name</a>
                </li>
                <li>
                    @(item.PartCategory?.Name)
                </li>
                <li class="">
                    @item.Barcode
                </li>
            </ul>
        }
    </div>
}

@section scripts {

}
