﻿@model API.Data.Models.PartEditModel
@{
    ViewBag.Title = Html.T("parts");
}

@section headerLeft {
    @ViewBag.Title
    <span class="h1-sub"></span>
}

@section headerRight {
    <div>
        <a href="@Url.Action("Index")" class="btn btn-sm btn-default ays-cancel"><i class="fa fa-arrow-left fa-space"></i>@Html.T("back")</a>
    </div>
}

<div class="pnl">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-group focus">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", maxlength = 50 })
            </div>

            <div class="form-group focus">
                @Html.LabelFor(m => m.Barcode)
                @Html.TextBoxFor(m => m.Barcode, new { @class = "form-control", maxlength = 50 })
            </div>

            <div class="form-group focus">
                @Html.LabelFor(m => m.Notes)
                @Html.TextBoxFor(m => m.Notes, new { @class = "form-control", maxlength = 500 })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PartCategoryID)
                <select name="@Html.NameFor(m => m.PartCategoryID)" class="form-control">
                    <option value="">Vælg...</option>
                    @foreach (var cat in Model.AvailableCategories)
                    {
    <option value="@cat.ID" @(Model.PartCategoryID == cat.ID ? "selected" : "")>@cat.Name</option>
}
                </select>
            </div>
            @Html.Partial("_buttonsRow", new waAssembly.Models.ButtonsModel() { }, new ViewDataDictionary())
        }


    </div>
</div>

@section scripts {

}