﻿@model API.Data.Models.PartEditModel
@{
    ViewBag.Title = Html.T(TKeys.Product.product);
}

@section headerLeft {
    @ViewBag.Title
    <span class="h1-sub"></span>
}

@section headerRight {
    <div>
        <a class="btn btn-sm btn-default inline-danger inline-confirm"><i class="fa fa-trash-alt fa-space"></i>@Html.T("delete")</a>
        <a href="@Url.Action("Delete", new { ID = Model.ID })" class="btn btn-sm btn-danger hidden"><i class="fa fa-trash-alt fa-space"></i>@Html.T("confirmDelete")</a>

        <a href="@Url.Action("Index")" class="btn btn-sm btn-default ays-cancel"><i class="fa fa-arrow-left fa-space"></i>@Html.T("back")</a>
    </div>
}

<div class="pnl" data-ng-controller="editController" id="editControllerContainer">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.ID)

            <div class="form-group focus">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>

            <div class="form-group focus">
                @Html.LabelFor(m => m.Barcode)
                @Html.TextBoxFor(m => m.Barcode, new { @class = "form-control", maxlength = 50 })
            </div>

            <div class="form-group focus">
                @Html.LabelFor(m => m.Notes)
                @Html.TextBoxFor(m => m.Notes, new { @class = "form-control", maxlength = 500 })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PartCategoryID)
                <select name="@Html.NameFor(m => m.PartCategoryID)" class="form-control">
                    <option value="">Vælg...</option>
                    @foreach (var cat in Model.AvailableCategories) {
                        <option value="@cat.ID" @(Model.PartCategoryID == cat.ID ? "selected" : "")>@cat.Name</option>
                    }
                </select>
            </div>

            @Html.Partial("_buttonsRow", new ButtonsModel() { }, new ViewDataDictionary())
        }


    </div>
</div>

@section scripts {
}
