﻿@model List<API.Data.Part>
@{
    ViewBag.Title = Html.T("parts");
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
}
<style type="text/css">
    .barcode-text {
        display: flex;
        position:relative;
        top: -16px;
    }
        .barcode-text.space-around {
            justify-content: space-around;
        }

        .barcode-text.space-between {
            justify-content: space-between;
        }
</style>

<table class="table table-bordered">
    @foreach (var item in Model?.OrderBy(m => m.Name))
    {
        <tr>
            <td>
                <h3>@item.Name</h3>
                @item.Notes
            </td>
            <td class="text-center" style="padding-bottom: 0;">
                <div style="display:inline-block;">
                    <div class="barcode">@string.Concat("*", item.Barcode, "*")</div>
                    <div class="barcode-text space-around">
                        @for (var i = 0; i < item.Barcode.Length; i++) {
                            <div>@item.Barcode.Substring(i, 1) </div>
                        }
                    </div>
                </div>
            </td>
        </tr>
    }

    @*<tr>
        <td>test</td>
        <td>
            <div style="font-family:Code39AzaleaFont; font-size:72px;margin: 20px;">*314159265*</div>
        </td>
    </tr>
    <tr>
        <td>test</td>
        <td class="barcode text-center">
            *314159265*
        </td>
    </tr>*@
</table>

