﻿@model API.Data.Models.ProductEditModel
@{
    ViewBag.Title = Html.T(TKeys.Product.product);
}

@section headerLeft {
    @ViewBag.Title
    <span class="h1-sub"></span>
}

@section headerRight {
    <div>
        @if (CurrentUser?.HasRole("SBA") ?? false)
        {
            <a class="btn btn-sm btn-default" href="@Url.Action("Impersonate", "User", new { ID = Model.ID })">Impersonate</a>
        }
        <a class="btn btn-sm btn-default inline-danger inline-confirm"><i class="fa fa-trash-alt fa-space"></i>@Html.T("delete")</a>
        <a href="@Url.Action("Delete", new { ID = Model.ID })" class="btn btn-sm btn-danger hidden"><i class="fa fa-trash-alt fa-space"></i>@Html.T("confirmDelete")</a>


        <a href="@Url.Action("Index")" class="btn btn-sm btn-default ays-cancel"><i class="fa fa-arrow-left fa-space"></i>@Html.T("back")</a>
    </div>
}

<div class="pnl" data-ng-controller="editController" id="editControllerContainer">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.ID)

            <div class="form-group focus">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            </div>

            <hr />

            <div class="row">
                <div class="col-6">
                    <label>Tilgængelige checklistepunkter</label>
                    <input type="text" id="inpChecklistPhrase" class="form-control mb-2" data-ng-keyup="search()" data-ng-model="searchPhrase" placeholder="@Html.T("placeholderSearch")" autocomplete="off" />
                    
                    <div class="related-item link" ng-repeat="item in searchResultsChecklistItems" data-ng-click="checklistAdd(item)">
                        
                        <a class="btn btn-success fa-space"><i class="far fa-plus"></i></a>
                        <a>{{item.Name}}</a>
                    </div>

                </div>
                <div class="col-6">
                    <label>Valgte checklistepunkter</label>
                    <div>
                        <div class="related-item" ng-repeat="item in checklistItems">
                            <a class="btn btn-danger fa-space" data-ng-click="checklistRemove(item)"><i class="far fa-trash"></i></a>
                            <a data-ng-href="@Url.Action("Edit", "CheckListItem")/{{item.ID}}">{{item.Name | limitTo: 45 }}</a>
                            
                            <span class="float-right">
                                <a class="btn btn-default float-right" data-ng-click="checklistReorder(item, 0)" data-ng-class="{ invisible: $index == 0 }"><i title="up" class="fa fa-caret-up"></i></a>

                                <a class="btn btn-default float-right" data-ng-click="checklistReorder(item, -1)" data-ng-class="{ invisible: $index == checklistItems.length - 1}"><i title="down" class="fa fa-caret-down"></i></a>
                            </span>
                            
                        </div>
                    </div>

                    <div data-ng-repeat="element in checklistItems">
                        <input type="hidden" name="CheckListItemsPostback" value="{{element.ID}}" />
                    </div>

                </div>
            </div>

            @Html.Partial("_buttonsRow", new ButtonsModel() { }, new ViewDataDictionary())
        }


    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script>
        globals.angSearchUrl = '@(Url.Action("SearchAjax", "ChecklistItem"))';
		globals.checklistItems = @Html.Raw(statics.ToJson(Model.CheckListItems));
    </script>
    <script src="~/assets/js/page/product-edit.js"></script>
}
