﻿<html>
<head>
    @{
        ViewBag.Title = "Index";
        Layout = null;

        System.Globalization.CultureInfo thisCulture = new System.Globalization.CultureInfo("DA-dk");
        System.Globalization.DateTimeFormatInfo dtf = thisCulture.DateTimeFormat;

    }

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Libre+Barcode+39+Text" rel="stylesheet" type="text/css" />
    
    @Url.RenderBundle("waAssembly.css")
</head>
<body>
    <div id="chartErrorCodes" style="height:500px;"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(chartsGoGo);

        function chartsGoGo() {
            @{
                string drawChartOrdresData = "";
                foreach (Tuple<int, string> item in ViewBag.ErrorCodes) {

                    drawChartOrdresData += $"['{item.Item2.Capitalize()}', "
                    + $"{item.Item1},"
                    + $"'{item.Item1}'"
                    + "],";
                }
                if (drawChartOrdresData.EndsWith(",")) {
                    drawChartOrdresData = drawChartOrdresData.StripFromEnd(",");
                }

                if (string.IsNullOrEmpty(drawChartOrdresData)) {
                    drawChartOrdresData = "['Ingen data fundet',0]";
                }
            }

            var data = google.visualization.arrayToDataTable([
                ['Fejlkode', 'Antal', { role: 'annotation'}],
                @Html.Raw(drawChartOrdresData)
            ]);

            var options = {
                title: 'Top 5 fejlkoder',
                chartArea: { width: '85%', height: '55%', top: '15%' },
                legend: 'none',
                titleTextStyle: {
                    fontSize: '30'
                },
                hAxis: {
                    slantedText: true,
                    textStyle: {
                        fontSize: '30'
                    }
                },
                //isStacked: true,
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chartErrorCodes'));
            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript" src="~/assets/js/base/jquery.3.3.1.min.js"></script>
    <script type="text/javascript" src="~/assets/js/clientside.js"></script>
    <script type="text/javascript">
        setTimeout(function () {
            window.location.href = '@Url.Action("IndexTest")' + "?fk=" + clientside.guid();
        }, 1000 * 60 * 5);
    </script>
</body>
</html>