﻿<html>
<head>
    @{
        ViewBag.Title = "Index";
        Layout = null;

        int totalThisWeek = 0;

        System.Globalization.CultureInfo thisCulture = new System.Globalization.CultureInfo("DA-dk");
        System.Globalization.DateTimeFormatInfo dtf = thisCulture.DateTimeFormat;

    }

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Libre+Barcode+39+Text" rel="stylesheet" type="text/css" />

    @Url.RenderBundle("waAssembly.css")

    <style type="text/css">
        td {
            font-size: 48px;
        }
        .bigger-but-smaller {
            font-size: 32px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-sm-6">

            @if (ViewBag.TargetsDaily != null)
            {

                var targets = (List<int>)ViewBag.TargetsDaily;
                if (targets.Any())
                {
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <strong>Dagligt mål</strong>
                            </td>
                            <td class="text-right">
                                @targets.First()
                            </td>
                        </tr>
                        @for (var i = 1; i < 8; i++)
                        {
                            if (targets.Count > i)
                            {
                                totalThisWeek += targets[i];
                                var weekday = (DayOfWeek)i;
                                <tr>
                                    <td>@dtf.GetDayName(weekday).Capitalize()</td>
                                    <td class="text-right">@targets[i]</td>
                                </tr>
                            }
                        }
                    </table>
                }
            }
        </div>
        <div class="col-sm-6">
            @if (ViewBag.TargetsWeekly != null)
            {
                DateTime dateCalc = DateTime.Now;

                var targets = (List<int>)ViewBag.TargetsWeekly;
                bool CoronaException = ((double)ViewBag.WorkWeekDays == 4.7);
                int dayMultiply = (int)dateCalc.DayOfWeek;
                int WorkWeekDays = (CoronaException ? 5 : (int)ViewBag.WorkWeekDays);
                double WorkWeekDaysFactor = (CoronaException ? 21.3 : (100 / WorkWeekDays));

                if (dateCalc.DayOfWeek == DayOfWeek.Friday && CoronaException) {
                    WorkWeekDaysFactor = 20; // should be 100 on fridays anyway
                }

                dayMultiply = Math.Max(dayMultiply, 1);
                dayMultiply = Math.Min(dayMultiply, WorkWeekDays);

                if (targets.Any())
                {
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <strong>Ugens mål</strong>
                            </td>
                            <td class="text-right">
                                @targets.First()
                            </td>
                        </tr>

                        
                        <tr>
                            <td>Aktuelt</td>
                            <td class="text-right">
                                @totalThisWeek
                            </td>
                        </tr>
                        <tr>
                            <td>Procent produceret</td>
                            <td class="text-right">@Math.Round(totalThisWeek.PercentageOf(targets[0]), 0)%</td>
                        </tr>


                        <tr>
                            <td>Procent af uge</td>
                            <td class="text-right">
                                @(WorkWeekDaysFactor * dayMultiply)%
                            </td>
                        </tr>
                    </table>

                    <div class="bigger-but-smaller">Tal opdateret<br/>@ViewBag.TargetUpdate</div>
                }
            }
        </div>
    </div>
    <script type="text/javascript" src="~/assets/js/base/jquery.3.3.1.min.js"></script>
    <script type="text/javascript" src="~/assets/js/clientside.js"></script>
    <script type="text/javascript">
        setTimeout(function () {
            window.location.href = '@Url.Action("Targets")' + "?fk=" + clientside.guid();
        }, 1000 * 60 * 5);
    </script>
</body>
</html>