﻿@model List<API.Data.User>
@{
	ViewBag.Title = "User";
}

@if (Model == null || !Model.Any())
{
	<div class="alert alert-danger">
		@Html.T("nodata")
	</div>
}
else
{
	<div class="panel panel-list">
		<ul class="list-row list-row-header">
			<li>@Html.T("name")</li>
			<li>@Html.T("jobTitle")</li>
		</ul>

		@foreach (var item in Model)
		{
			<ul class="list-row" data-id="@item.ID" data-clickurl="/account/login?id=@item.ID">
                <li>
                    <a href="/account/login?id=@item.ID">@item.NameFull</a>
                </li>
				<li>
                    @item.JobTitle
				</li>
			</ul>
		}
	</div>
}


@section scripts {

}
