﻿@model API.Data.Models.UserEditModel
@{
    ViewBag.Title = Html.T(TKeys.user);
}

@section headerLeft {
    @ViewBag.Title
    <span class="h1-sub"></span>
}

@section headerRight {
    <div>
        <a href="@Url.Action("Index")" class="btn btn-sm btn-default ays-cancel"><i class="fa fa-arrow-left fa-space"></i>@Html.T("back")</a>
    </div>
}

<div class="pnl">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @*<div class="form-group focus">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
            </div>*@

            <div class="form-group">
                @Html.CheckBoxFor(m => m.IsAdmin)
                @Html.LabelFor(m => m.IsAdmin)
            </div>

            <div class="form-group focus">
                @Html.LabelFor(m => m.NameFirst)
                @Html.TextBoxFor(m => m.NameFirst, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.NameLast)
                @Html.TextBoxFor(m => m.NameLast, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.JobTitle)
                @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control" })
            </div>

            @Html.Partial("_buttonsRow", new waAssembly.Models.ButtonsModel() { }, new ViewDataDictionary())
        }


    </div>
</div>

@section scripts {

}