﻿@model API.Data.Models.UserEditModel
@{
    ViewBag.Title = Html.T(TKeys.user);
}

@section headerLeft {
    @ViewBag.Title
    <span class="h1-sub"></span>
}

@section headerRight {
    <div>
        @if (CurrentUser?.HasRole("SBA") ?? false)
        {
            <a class="btn btn-sm btn-default" href="@Url.Action("Impersonate", "User", new { ID = Model.ID })">Impersonate</a>
        }
        
        <a class="btn btn-sm btn-default" href="@Url.Action("UpdatePassword", "User", new { ID = Model.ID })">@Html.T("User.updatePassword")</a>

        <a class="btn btn-sm btn-default inline-danger inline-confirm"><i class="fa fa-trash-alt fa-space"></i>@Html.T("delete")</a>
        <a href="@Url.Action("Delete", new { ID = Model.ID })" class="btn btn-sm btn-danger hidden"><i class="fa fa-trash-alt fa-space"></i>@Html.T("confirmDelete")</a>


        <a href="@Url.Action("Index")" class="btn btn-sm btn-default ays-cancel"><i class="fa fa-arrow-left fa-space"></i>@Html.T("back")</a>
    </div>
}

<div class="pnl">
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.ID)

            <div class="form-group">
                @Html.CheckBoxFor(m => m.IsAdmin)
                @Html.LabelFor(m => m.IsAdmin)
            </div>

            <div class="form-group focus">
                @Html.LabelFor(m => m.NameFirst)
                @Html.TextBoxFor(m => m.NameFirst, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NameLast)
                @Html.TextBoxFor(m => m.NameLast, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.JobTitle)
                @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control" })
            </div>


            @Html.Partial("_buttonsRow", new ButtonsModel() { }, new ViewDataDictionary())
        }


    </div>
</div>

@section scripts {

}
