﻿@model API.Data.User
@{
    ViewBag.Title = Html.T(TKeys.user);
}

@section headerLeft {
    Password - @Model.NameFull
    @*<span class="h1-sub"></span>*@
}

@section headerRight {
    <div>
        <a href="@Url.Action("Edit", new { ID = Model.ID })" class="btn btn-sm btn-default ays-cancel"><i class="fa fa-arrow-left fa-space"></i>@Html.T("back")</a>
    </div>
}

<div class="pnl mb-0">
    <div class="panel-body">
        
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.ID)

            <div class="form-group focus">
                <label>Password</label>
                <input type="password" class="form-control" name="Password" />
            </div>

            <div class="form-group">
                <label>Password, gentag</label>
                <input type="password" class="form-control" name="PasswordRepeat" />
            </div>

            @Html.Partial("_buttonsRow", new ButtonsModel() { ButtonCount = 2, CancelUrl = Url.Action("Edit", new { ID = Model.ID }) }, new ViewDataDictionary())
        }


    </div>
</div>

@section scripts {

}
