﻿@model API.Data.Models.TimerRunningModel
@{
    string cssClassWarning = "";
    string debug = "";

    string comments = "";

    //Model.NavInfo.ProductionWeekString = "UGE1842";
    if (Model.NavInfo.ProductionYear > 0 && Model.NavInfo.ProductionWeek > 0 && !string.IsNullOrEmpty(Model.NavInfo.RoutePlan))
    {
        var routeDay = 0;
        int.TryParse(Model.NavInfo.RoutePlan, out routeDay);

        DateTime dtFromWeek = statics.FirstDateOfWeekISO8601(Model.NavInfo.ProductionYear, Model.NavInfo.ProductionWeek).AddDays(7);
        //DateTime dt = new DateTime(Model.NavInfo.ProductionYear, dtFromWeek.Month, dtFromWeek.Day);
        var now = DateTime.Now.Date;
        int week = statics.WeekNumber(now);
        int weekFrom = statics.WeekNumber(dtFromWeek);

        if (weekFrom == week)
        {
            cssClassWarning = "bg-warning";
            while ((int)dtFromWeek.DayOfWeek != routeDay)
            {
                dtFromWeek = dtFromWeek.AddDays(1);
            }
            if (dtFromWeek <= DateTime.Now.Date) {
                debug += "---" + dtFromWeek.ToString();
                cssClassWarning = "bg-danger color-white";
            }
        }
        else if (weekFrom < week && DateTime.Now.Year == Model.NavInfo.ProductionYear) {
            cssClassWarning = "bg-danger color-white";
        }
    }

    if (Model.NavInfo.Comments != null) {
        if (!string.IsNullOrEmpty(Model.NavInfo.Comments.Comment)) {
            comments += "<p>" + Model.NavInfo.Comments.Comment + "</p>";
        }
        if(!string.IsNullOrEmpty(Model.NavInfo.Comments.SpecAtt)) {
            comments += "<p>" + Model.NavInfo.Comments.SpecAtt + "</p>";
            //comments += (string.IsNullOrEmpty(comments) ? "" : "<br /><br />") + Model.NavInfo.Comments.SpecAtt;
        }
        if (!string.IsNullOrEmpty(Model.NavInfo.Comments.ShippingComment))
        {
            comments += "<p>" + Model.NavInfo.Comments.ShippingComment + "</p>";
            //comments += (string.IsNullOrEmpty(comments) ? "" : "<br /><br />") + Model.NavInfo.Comments.ShippingComment;
        }
    }

}

<div class="h1 underline mb-3">
    <strong>@Model.NavInfo.OrderNo</strong>
</div>

<div class="xform-group">
    <div class="row mb-0">

        <div class="col-12 @cssClassWarning">
            <div class="font-weight-bold">
                @Html.T("Order.route")
            </div>
            <div class="">
                @Model.NavInfo.RoutePlan
            </div>

            <div class=" mt-3 font-weight-bold">
                @Html.T(TKeys.Order.productionWeek)
            </div>
            <div class="">
                @Model.NavInfo.ProductionYear - @Model.NavInfo.ProductionWeek
            </div>

            <div class="mt-3 font-weight-bold">
                @Html.T("Product.model")
            </div>
            <div>
                @Model.NavInfo.Master
            </div>

            <div class="mt-3 font-weight-bold">
                @Html.T("Product.depth")
            </div>
            <div>
                @Model.NavInfo.Depth
            </div>

            <div class="mt-3 font-weight-bold">
                @Html.T("Product.mounts")
            </div>
            <div>
                @Model.NavInfo.Mounts
            </div>

            @*<div class="mt-3 font-weight-bold">
            @Html.T(TKeys.Product.normTime)
        </div>
        <div>
            @if (Model.NavInfo.NormTime > 0)
            {
                @Model.NavInfo.NormTime.ToString("N2")
                <span>(@((Model.NavInfo.NormTime * statics.NormTimeMinutes).ToString("N0")) min.)</span>
            }
            else {
                <span>-</span>
            }
        </div>*@

            @if (!string.IsNullOrEmpty(comments))
            {

                <div class="mt-3 font-weight-bold">
                    @Html.T("comments")
                </div>
                <div>
                    @Html.Raw(comments)
                </div>
            }

            <div class="mt-3 dimmed">
                @Model.NavInfo.Barcode
            </div>
        </div>
    </div>
</div>
