﻿@model List<API.Data.PartOrder>
@{

}

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info mb-0">@Html.T("partsNothingOrdered")</div>
}
else
{
    <div class="panel panel-list">
        <ul class="list-row list-row-header">
            <li>
                @Html.T(TKeys.name)
            </li>
            <li class="text-center">
                @Html.T("quantity")
            </li>
            <li>
                @Html.T(TKeys.workstation)
            </li>
            <li>
                
            </li>
            <li>
                @Html.T("partIsPicked")
            </li>
            <li>
                @Html.T("partIsDelivered")
            </li>
            <li></li>
        </ul>

        @foreach (var item in Model.OrderBy(m => m.IsDelivered).ThenBy(m => m.IsPicked).ThenByDescending(m => m.CreatedOn).ThenBy(m => m.Part?.Name))
        {
            <ul class="list-row">
                <li>
                    @(item.Part?.Name)
                </li>
                <li class="text-center">
                    <button data-part-id="@item.ID" data-part-add="false" type="button" class="btn btn-default"><i class="fa fa-minus"></i></button>
                    &nbsp;
                    @item.Quantity
                    &nbsp;
                    <button data-part-id="@item.ID" data-part-add="true" type="button" class="btn btn-default"><i class="fa fa-plus"></i></button>
                </li>
                <li>
                    @(item.Workstation?.Name)
                </li>
                <li>
                    @item.CreatedOn.ToDefString(true)
                </li>
                <li>
                    @item.IsPicked.BooleanFaIcon()
                </li>
                <li>
                    @item.IsDelivered.BooleanFaIcon()
                </li>
                <li class="text-right">
                    @if (!item.IsDelivered && !item.IsPicked)
                    {
                        <a class="btn btn-default inline-confirm">@Html.T(TKeys.delete)</a>
                        <a class="btn btn-danger hidden" href="@Url.Action("PartOrderDelete", new { ID = item.ID })">@Html.T(TKeys.confirmDelete)</a>
                    }
                </li>
            </ul>
        }
    </div>

}