﻿@model List<API.Data.Part>
@{
}

<style type="text/css">
</style>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-danger">
        @Html.T("nodata")
    </div>
}
else
{
    <div class="panel panel-list">

        <div class="row">
            @foreach (var category in Model.Where(m => m.PartCategory != null).Select(m => m.PartCategory.Name ?? "").Distinct().OrderBy(m => m))
            {
                var items = Model.Where(m => m.PartCategory != null);

                <div class="col-sm-4">
                    <h1>@category</h1>

                    @foreach (var item in items.Where(m => m.PartCategory.Name == category).OrderBy(m => m.Name))
                    {
                        <div class="mb-3">
                            <div>
                                <button class="btn btn-success trigger-part-order" data-id="@item.ID">@Html.T("partOrder")</button>
                                @item.Name
                            </div>
                        </div>
                    }
                </div>
            }

            <div class="col-sm-4">
                <h1>Uden kategori</h1>

                @foreach (var item in Model.Where(m => m.PartCategory == null).OrderBy(m => m.Name))
                {
                    <div class="mb-3">
                        <div>
                            <button class="btn btn-success trigger-part-order" data-id="@item.ID">@Html.T("partOrder")</button>
                            @item.Name
                        </div>
                    </div>
                }
            </div>

        </div>

        @*<ul class="list-row list-row-header">
                <li>@Html.T("name")</li>
                <li>@Html.T("barcode")</li>
                <li></li>
            </ul>

            @foreach (var item in Model)
            {
                <ul class="list-row">
                    <li>
                        <a href="@Url.Action("Edit", new { ID = item.ID })">@item.Name</a>
                    </li>
                    <li class="">
                        @item.Barcode
                    </li>
                    <li class="text-right">
                        <button class="btn btn-success trigger-part-order" data-id="@item.ID">@Html.T("partOrder")</button>
                    </li>
                </ul>
            }*@
    </div>
}

@section scripts {
    <script type="text/javascript">
    </script>
}