﻿@model API.Data.Models.TimerRunningModel
@{
    ViewBag.Title = Html.T(TKeys.Order.order) + " - " + Model.NavInfo.OrderNo + ""; // - " + Model.NavInfo.Barcode;
    ViewBag.LayoutFluid = true;

    int checklistItemCount = Model.CheckListItems?.Count ?? 0;
    int columnSplit = Math.Max(1, (checklistItemCount == 0 ? 1000 : (int)Math.Ceiling((double)checklistItemCount / 3)));
    int outputCount = 0;
    List<int> splitAt = new List<int>();
    for (var i = 1; i <= checklistItemCount; i++)
    {
        if (i % columnSplit == 0)
        {
            splitAt.Add(i);
        }
    }
    if (splitAt.Count > 2)
    {
        splitAt = splitAt.Take(2).ToList();
    }
}


<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="pnl">
            <div class="panel-body">
                @Html.Action("partialOrderHeader", new { Barcode = Model.NavInfo.Barcode })
            </div>
        </div>
    </div>

    <div class="col-sm-8 col-md-9">
        <div class="pnl">
            <div class="panel-body">
                <div class="row">
                    <div class="col-6"><h1>@Html.T("Order.markCompleted")</h1></div>
                    <div class="col-6 text-right"><a href="@Url.Action("Running", "Process")" class="btn btn-default"><i class="fa fa-arrow-left fa-space"></i>@Html.T(TKeys.back)</a></div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-4">
                            @foreach (var item in Model.CheckListItems.OrderBy(m => m.LocalizedValues.FirstOrDefault(n => n.Language.Locale == Culture)?.Text))
                            {
                                if (splitAt.Contains(outputCount++))
                                {
                                @:</div><div class="col-4">
                                }
                                <div class="form-group">
                                    <input type="checkbox" class="checklist-item" id="chk_@item.ID" />
                                    <label for="chk_@item.ID">@(item.LocalizedValues.FirstOrDefault(m => m.Language.Locale == Culture)?.Text)</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="">
                    <a href="@Url.Action("Complete", new { Barcode = Model.NavInfo.Barcode })" class="btn btn-success checklist-valid">@Html.T("Order.markCompleted")</a>
                    <a href="#" class="btn btn-danger checklist-invalid">@Html.T("Order.markCompletedInvalid")</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        function checkCheckList() { /* giggles */
            var items = $('.checklist-item'),
                allGood = $.grep(items, function (element) { // find add un-checked items
                    return !($(element).is(':checked'));
                });

            if (allGood.length < items.length) { // if un-checked count is less than total count (meaning at least one IS checked)
                $('.checklist-valid').show();
                $('.checklist-invalid').hide();
            } else {
                $('.checklist-valid').hide();
                $('.checklist-invalid').show();
            }
        }
        $(function () {
            checkCheckList();
        });
        $('.checklist-item').on('change', function () {
            checkCheckList();
        });
    </script>
}
