﻿@model API.Data.Models.TimerRunningModel
@{
    ViewBag.Title = Html.T(TKeys.Order.order) + " - " + Model.NavInfo.OrderNo + " - " + Model.NavInfo.Barcode;
    ViewBag.LayoutFluid = true;
}

<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="pnl">
            <div class="panel-body">
                @Html.Action("partialOrderHeader", new { Barcode = Model.NavInfo.Barcode })
            </div>
        </div>
    </div>

    <div class="col-sm-8 col-md-9">
        <div class="pnl">
            <div class="panel-body">
                <div class="row">
                    <div class="col-6"><h1>@Html.T(TKeys.Timer.workstationError)</h1></div>
                    <div class="col-6 text-right"><a href="@Url.Action("Running", "Process")" class="btn btn-default"><i class="fa fa-arrow-left fa-space"></i>@Html.T(TKeys.back)</a></div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <a class="btn btn-outline-primary btn-block" href="@Url.Action("SetTimeLogStatus", new { Barcode = Model.NavInfo.Barcode, Park = true })">
                            @Html.T(TKeys.Order.parkWithoutStatus)
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4 mb-3">
                        <a class="btn btn-outline-info inline-confirm btn-block">
                            <i class="fa fa-exclamation fa-space"></i>@Html.T("Order.discard")
                        </a>
                        <a class="btn btn-danger btn-block hidden" href="@Url.Action("Discard", new { Barcode = Model.NavInfo.Barcode })">
                            <i class="fa fa-exclamation fa-space"></i>@Html.T(TKeys.confirm)
                        </a>
                    </div>
                    <div class="mb-3"></div>
                    <div class="col-4 mb-3">
                        @foreach (var code in Model.StatusCodesError.Where(m => m.TopMost).OrderBy(m => m.LocalizedValues.FirstOrDefault(n => n.Language.Locale == Culture)?.Text ?? ""))
                        {
                            <div class="mb-3">
                                <a class="btn btn-danger btn-block" href="@Url.Action("SetTimeLogStatus", new { Barcode = Model.NavInfo.Barcode, StatusCodeID = code.ID, Park = true })">
                                    @(code.LocalizedValues.FirstOrDefault(m => m.Language.Locale == Culture)?.Text)
                                </a>
                            </div>
                        }
                    </div>
                </div>

                <div class="row mb-0">
                    @foreach (var code in Model.StatusCodesError.Where(m => !m.TopMost).OrderBy(m => m.LocalizedValues.FirstOrDefault(n => n.Language.Locale == Culture)?.Text ?? ""))
                    {
                        <div class="col-6 col-md-4 mb-3">
                            <a class="btn btn-danger btn-block" href="@Url.Action("SetTimeLogStatus", new { Barcode = Model.NavInfo.Barcode, StatusCodeID = code.ID, Park = true })">
                                @(code.LocalizedValues.FirstOrDefault(m => m.Language.Locale == Culture)?.Text)
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {

        })
    </script>
}
