﻿@model List<API.Data.PartOrder>
@{
    ViewBag.Title = Html.T("parts");
    ViewBag.LayoutFluid = true;
}

@section head{
    <style type="text/css">
        .btn-picked.btn-success .picked-no {
            display:none;
        }
        .btn-picked.btn-success .picked-yes {
            display: inline-block;
        }
        .btn-picked.btn-danger .picked-no {
            display: inline-block;
        }
        .btn-picked.btn-danger .picked-yes {
            display: none;
        }
    </style>
    }
<div class="row">
    <div class="col-12">
        <div class="pnl">
            <div class="panel-body">
                <h1>@Html.T("parts") <button onclick="document.location.reload()" type="button" class="btn btn-default"><i class="fa fa-sync-alt"></i></button></h1>

                @if (Model == null || !Model.Any())
                {
                    <div class="alert alert-info">
                        @Html.T("partsNothingOrdered")
                    </div>
                }
                else
                {
                    <div class="panel panel-list">
                        <ul class="list-row list-row-header">
                            <li>
                                @Html.T("quantity")
                            </li>
                            <li data-indexsearcher-order="Part.Name">
                                @Html.T(TKeys.name)
                            </li>
                            <li data-indexsearcher-order="Workstation.Name">
                                @Html.T(TKeys.workstation)
                            </li>
                            <li data-indexsearcher-order="CreatedByUser.NameFull">
                                @Html.T(TKeys.user)
                            </li>
                            <li data-indexsearcher-order="CreatedOn">
                                Bestilt
                            </li>
                            <li data-indexsearcher-order="IsPicked">
                                @Html.T("partIsPicked")
                            </li>
                            <li data-indexsearcher-order="IsDelivered">
                                @Html.T("partIsDelivered")
                            </li>
                        </ul>

                        @foreach (var item in Model)
                        {
                            <ul class="list-row">
                                <li>
                                    @item.Quantity
                                </li>
                                <li>
                                    @(item.Part?.Name)
                                    <div class="dimmed">
                                        @(item.Part?.Barcode)
                                    </div>
                                </li>
                                <li>
                                    @(item.Workstation?.Name)
                                </li>
                                <li>
                                    @(item.CreatedByUser?.NameFull)
                                </li>
                                <li>
                                    @item.CreatedOn.ToDefString(true)
                                </li>
                                <li>
                                    <button class="btn btn-@(item.IsPicked ? "success" : "danger") btn-picked" data-id="@item.ID">
                                        <i class="picked-no fa fa-minus fa-space"></i>
                                        <i class="picked-yes fa fa-check fa-space"></i>
                                        @Html.T("partIsPicked")
                                    </button>
                                </li>
                                <li>
                                    <button class="btn btn-outline-success inline-confirm" data-id="@item.ID"><i class="fa fa-check fa-space"></i>@Html.T("partIsDelivered")</button>
                                    <button class="btn btn-success hidden btn-delivered" data-id="@item.ID"><i class="fa fa-check fa-space"></i>@Html.T(TKeys.confirm)</button>
                                </li>
                            </ul>
                        }
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $(document).on('click', '.btn-picked', function () {
                var t = $(this), isSuccess = t.hasClass('btn-success');
                clientside.ajax('@Url.Action("PartsRunnerTogglePicked")', { ID: t.attr('data-id') }, function (data) {
                    t.removeClass('btn-success btn-danger');
                    if (data.StatusOk) {
                        clientside.thumbsUp();
                        if (data.Message === "on") {
                            t.addClass('btn-success');
                            t.closest('ul').find('.btn-delivered').show();
                        } else {
                            t.closest('ul').find('.btn-delivered').hide();
                            t.addClass('btn-danger');
                        }
                    } else {
                        clientside.thumbsDown();
                    }
                });
                //t.toggleClass('btn-success btn-danger');
            });

             $(document).on('click', '.btn-delivered', function () {
                 var t = $(this);
                clientside.ajax('@Url.Action("PartsRunnerSetDelivered")', { ID: t.attr('data-id') }, function (data) {
                    if (data.StatusOk) {
                        clientside.thumbsUp();
                        t.closest('ul').fadeOut();
                    } else {
                        clientside.thumbsDown();
                    }
                });
            });

            $(document).on('click', '[data-indexsearcher-order]', function () {
                var sortedBy = '@Request.QueryString["SortBy"]',
                    sortBy = $(this).attr('data-indexsearcher-order'),
                    sortDir = '@Request.QueryString["SortDirAsc"]';

                if (sortDir === '') {
                    sortDir = 'true';
                } else {
                    sortDir = (sortDir === 'false' ? "true" : "false");
                }

                window.location.href = '/process/partsrunner?SortBy=' + $(this).attr('data-indexsearcher-order') + '&SortDirAsc=' + sortDir;
            });
        });
    </script>
}
