﻿@{
    ViewBag.Title = Html.T("parts");
    ViewBag.LayoutFluid = true;
}

<div class="pnl">
    <div class="panel-body">
        <h1>@Html.T("parts")</h1>
        <div id="containerPartsOrdered"></div>
    </div>
</div>
<div class="pnl mb-0">
    <div class="panel-body">
        <div class="form-group quick-find focus select mb-0">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control" id="indexSearch" placeholder="@Html.T("placeholderSearch")" />
                <div class="input-group-append">
                    <span class="input-group-text link index-search-clear"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>

        <div id="results" class="mt-3 mb-0">
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/assets/js/base/indexSearcher-4.js?fk=@statics.App.Version"></script>
    <script type="text/javascript">
        function orderListReload() {
            $('#containerPartsOrdered').load('@Url.Action("partialPartsOrdered", "Process")');
        }

        $(function () {
            $('#indexSearch').indexSearcher(
                {
                    endpoint: '@Url.Action("partialPartsSearch")',
                    resultsElement: '#results',
                    persistSearchPhrase: false,
                    events: {
                        onDone: function () {
                            var r = $('#results .btn.btn-success');
                            if (r.length === 1) {
                                r.click();
                            }
                        }
                    }
                }
            );
            orderListReload();
        });

        $(document).on('click', '[data-id]', function () {
            var t = $(this);
            clientside.ajax('@Url.Action("PartOrder")', { PartID: t.attr('data-id') }, function (data) {
                if (data.StatusOk) {
                    orderListReload();
                    clientside.thumbsUp();
                } else {
                    clientside.thumbsDown();
                }
            }, { baseUrl: '' });
        });

        $(document).on('click', '[data-part-id]', function () {
            var t = $(this), add = t.attr('data-part-add') === 'true';
            clientside.ajax('@Url.Action("PartOrderQuantity")', { OrderedPartID: t.attr('data-part-id'), Add: add }, function (data) {
                if (data.StatusOk) {
                    orderListReload();
                    clientside.thumbsUp();
                } else {
                    clientside.thumbsDown();
                }
            }, { baseUrl: '' });
        });
    </script>
}
