﻿@model API.Data.Models.TimerRunningModel
@{
    ViewBag.Title = Html.T(TKeys.Order.order) + " - " + Model.NavInfo.OrderNo + ""; // - " + Model.NavInfo.Barcode;
    ViewBag.LayoutFluid = true;

    var endTime = Model.TimeLog.StartTimeUtc.AddSeconds(Model.TimeLog.Duration ?? 0);
    var minutes = (int)Math.Floor(DateTime.UtcNow.Subtract(endTime).TotalMinutes);
    string description = @Html.T("Timer.userTimeLogGap").ToString();
    description = description.Replace("{minutes}", minutes.ToString());
    description = description.Replace("{timestamp}", endTime.ToLocalTime().ToDefString(true));
}

<div class="row">
    <div class="col-sm-12">
        <div class="pnl">
            <div class="panel-body">
                <div class="row">
                    <div class="col-12"><h1>@Html.T(TKeys.Timer.workstationLeave)</h1></div>
                    <div class="col-12"><h3>@Html.Raw(description)</h3></div>
                </div>

                <div class="row mb-0">
                    @foreach (var code in Model.StatusCodesError.OrderBy(m => m.LocalizedValues.FirstOrDefault(n => n.Language.Locale == Culture)?.Text ?? ""))
                    {
                        <div class="col-6 col-md-4 mb-3">
                            <a class="btn btn-info btn-block" href="@Url.Action("SetPauseReason", new { Barcode = Model.TimeLog.Barcode, StatusCodeID = code.ID, ReturnToBarcode = ViewBag.ReturnToBarcode })">
                                @(code.LocalizedValues.FirstOrDefault(m => m.Language.Locale == Culture)?.Text)
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {

        })
    </script>
}
