﻿@model API.Data.Models.TimerRunningModel
@{
    ViewBag.Title = Html.T(TKeys.Order.order) + " - " + Model.NavInfo.OrderNo + ""; // - " + Model.NavInfo.Barcode;
    ViewBag.LayoutFluid = true;
}

<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="pnl">
            <div class="panel-body">
                @Html.Action("partialOrderHeader", new { Barcode = Model.NavInfo.Barcode })
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-9">
        <div class="pnl">
            <div class="panel-body">
                <div class="row mb-0">
                    <div class="col-12">

                        <div class="row">
                            <div class="col-md-3 text-center form-group mb-3">
                                <a href="@Url.Action("Parts")" class="btn btn-lg btn-block btn-outline-success modal-trigger-materials">
                                    <i class="far fa-wrench fa-space"></i>@Html.T("parts")
                                </a>
                            </div>
                            <div class="col-md-3 text-center form-group mb-3">
                                <a href="@Url.Action("Checklist", new { Barcode = Model.NavInfo.Barcode })" class="btn btn-lg btn-block btn-outline-success">
                                    <i class="far fa-check fa-space"></i>@Html.T(TKeys.Order.markCompleted)
                                </a>
                            </div>
                            <div class="col-md-3 text-center form-group mb-3">
                                <a class="btn btn-lg btn-block btn-outline-info" href="@Url.Action("Pause", new { Barcode = Model.NavInfo.Barcode })">
                                    <i class="far fa-clock fa-space"></i>@Html.T(TKeys.Timer.workstationLeave)
                                </a>
                            </div>
                            <div class="col-md-3 text-center form-group mb-3">
                                <a class="btn btn-lg btn-block btn-outline-danger" href="@Url.Action("Error", new { Barcode = Model.NavInfo.Barcode })">
                                    <i class="far fa-exclamation-circle fa-space"></i>@Html.T(TKeys.Timer.workstationError)
                                </a>
                            </div>

                        </div>

                        @*@if (Model.CheckListItems.Any())
                        {
                            <h2 class="mt-3">@Html.T("checkList")</h2>

                            <ul class="p-0 pl-3">
                                @foreach (var item in Model.CheckListItems)
                                {
                                    <li>@(item.LocalizedValues.FirstOrDefault(m => m.Language.Locale == Culture)?.Text)</li>
                                }
                            </ul>
                        }*@
                    </div>

                    <div class="col-12">
                        <div class="row mb-0">
                            <div class="col-12 mb-3">
                                <img src="@Url.Action("OrderPicture", "Process", new { Barcode = Model.NavInfo.Barcode, no = 1, fk = Guid.NewGuid() })" class="mr-3" />
                                <img src="@Url.Action("OrderPicture", "Process", new { Barcode = Model.NavInfo.Barcode, no = 2, fk = Guid.NewGuid() })" />
                            </div>
                            <div class="col-12">
                                <table class="table table-striped mb-0">
                                    <thead>
                                        <tr>
                                            <th>@Html.T("Product.unit")</th>
                                            <th>@Html.T("Product.back")</th>
                                            <th>@Html.T("Product.front")</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var line in Model.NavInfo.Dimensions)
                                        {
                                            <tr>
                                                <td>
                                                    @line.Sides
                                                </td>
                                                <td>
                                                    @line.Back
                                                </td>
                                                <td>
                                                    @line.Front
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {

        })
    </script>
}
