﻿@model API.Data.Models.TimerRunningModel
@{
    ViewBag.Title = Html.T(TKeys.Order.order) + " - " + Model.NavInfo.OrderNo + ""; // - " + Model.NavInfo.Barcode;
}

<div class="pnl">
    <div class="panel-body">
        @Html.Action("partialOrderHeader", new { Barcode = Model.NavInfo.Barcode })
    </div>
</div>

<div class="pnl">
    <div class="panel-body">
        <div class="row mb-0">
            <div class="col-6">
                <a class="btn btn-success btn-block font-size-3" href="@Url.Action("Start", new { Barcode = Model.NavInfo.Barcode })">@Html.T("Order.continue")</a>
            </div>

            @*<div class="col-4">
                <a class="btn btn-primary btn-block font-size-3" href="@Url.Action("Checklist", new { Barcode = Model.NavInfo.Barcode })">@Html.T("Order.markCompleted")</a>
            </div>*@

            <div class="col-6">
                <a class="btn btn-default btn-block" href="@Url.Action("Index", "Order")">@Html.T("Order.search")</a>
            </div>
        </div>
    </div>
</div>




@section scripts {
    <script type="text/javascript">
        $(function () {

        })
    </script>
}
