﻿@model API.Data.TimeLog
@{
    ViewBag.Title = @Model.StatusCode.LocalizedValues.FirstOrDefault(m => m.Language.Locale == Culture)?.Text;
}

<div class="pnl">
    <div class="panel-body">
        <div class="h1">
            <strong>@ViewBag.Title</strong>
        </div>
    </div>
</div>

<div class="pnl">
    <div class="panel-body">

        

    </div>
</div>