﻿@{
    ViewBag.Title = "Create";
}

<h2>Create section</h2>


@using(Html.BeginForm()) {
	<div class="focus form-group">
		<label for="Name">Name</label>
		<input class="form-control" name="Name" />
	</div>

	<br />
	<input type="submit" class="btn btn-success" value="Save" />
}