﻿@model API.Data.DictionarySection
@{
    ViewBag.Title = "Delete";
}

<h2>Delete section</h2>

<div class="alert alert-danger">
	The section '@Model.Name' contains dictionary keys.<br />
	What do you want to do?
	<br />
	<br />

	<a class="btn btn-danger" href="@Url.Action("DeleteConfirmed", new { id = @Model.ID, DeleteKeys = true })">Delete and section and ALL KEYS</a>
	<a class="btn btn-warning" href="@Url.Action("DeleteConfirmed", new { id = @Model.ID, DeleteKeys = false })">Delete section and move all keys to root</a>
	<a class="btn btn-default" href="@Url.Action("Index", "Dictionary")">Cancel</a>
	
</div>
