﻿@model API.Data.DictionarySection
@{
    ViewBag.Title = "Edit";
}

<h2>Edit section <a href="@Url.Action("Delete", "DictionarySection", new { id = Model.ID })" class="btn btn-danger">Delete</a></h2>

@using(Html.BeginForm()) {
	@Html.HiddenFor(m => m.ID)
	<div class="focus form-group">
		<label for="Name">Name</label>
		<input class="form-control" name="Name" value="@Model.Name" />
	</div>

	<br />
	<input type="submit" class="btn btn-success" value="Save" />
	<a href="@Url.Action("Index", "Dictionary")" class="btn btn-default">Cancel</a>
}